[2016-08-22 12:50] smillidge commented on #1047
Cool picture. As long as people realise it probably won't work seamlessly behind a proxy, it would be a great feature to have.

[2016-08-22 17:20] arjantijms commented on #853
@smillidge

We've finally been able to publish the SPI artefacts (many thanks to our friend Zhijun at Oracle). The SPI jar can be found in Maven central here: http://repo1.maven.org/maven2/org/glassfish/mojarra/tyrus-mojarra-activator/2.3.0-m06/

The dependency is:

[code]

Note that for this release the Mojarra main version (m07) and the SPI (m06) don't exactly match. We're still thinking about w

[2016-08-23 07:35] Quix0r commented on #966
As I said above, it is some easy  to reproduce:
1) Take my example above and make to a real entity/class (compileable and with at least 1-2 properties/class fields with public getter/setter)
2) Try to let the JPA create them in a database.
3) Run the named query on it with that said TYPE statement

Sorry, I have so much to do here, I cannot write a test case for you here.

[2016-08-23 15:13] mikecroft commented on #1038
The Grizzly patch has been incorporated, so this should hopefully be included in the next release (provided it all builds OK)

[2016-08-23 15:26] mikecroft commented on #1038
Internal issue ID to upgrade Grizzly: `PAYARA-1026`

[2016-08-23 15:30] mikecroft commented on #966
OK, no problem, we'll do our best to move it forward as quick as we can

[2016-08-23 22:18] gustavomassa opened #1054 "payara-embedded-web: java.lang.NoClassDefFoundError: fish/payara/nucleus/requesttracing/RequestTracingService"
Hello,

I've been using payara-embedded-web 4.1.152.1 for a long time, since the payara-micro take too much time(about 350ms) to startup because I'm running it on an embedded arm like a beagleBone and it takes too much time to extract war files, so I'm using the payara-embedded-web deploying applications directly from directories(about 130ms).
Today I decided to update the payara-embedded-web and

[2016-08-23 23:41] phillipross commented on #1054
This might be related to an issue I was having with payara-embedded-all 4.1.1.163.

The issue was fixed with pull request https://github.com/payara/Payara/pull/1028 and an updated payara-embedded-all (v4.1.1.163.0.1) is now available in maven central which you can find linked from the pull request.  I'm not sure if an equivalent payara-embedded-web artifact has been released or not.  If you're not

[2016-08-24 07:51] Pandrex247 commented on #1054
There is not currently an equivalent 163.0.1 for embedded-web.
We'll look into releasing one though, as this does at first glance seem to be the same issue that @phillipross had.

[2016-08-24 10:20] #1054 closed

[2016-08-24 10:33] andreasernst commented on #736
glassfish-resources.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
    <jdbc-resource enabled="true" jndi-name="jdbc/erdamssql" object-type="user" pool-name="erdaMSSQLPool"/>
    <jdbc-connection-pool allow-non-component-call

[2016-08-24 12:40] Pandrex247 commented on #1054
Patch is now available on Maven central: http://search.maven.org/#artifactdetails%7Cfish.payara.extras%7Cpayara-embedded-web%7C4.1.1.163.0.1%7Cjar

[2016-08-24 18:36] edilmar opened #1059 "Way to re-read config files without undeploy"
Hi,
I would like to know if it is possible to re-read config files (web.xml, ejb-jar.xml, persistence.xml, etc) without undeploy/deploy the app. I have a webapp used by many enterprises, where I just config a new database for each new enterprise, without to be necessary to change the Java code. The problem is that, for each new enterprise, I have to undeploy/deploy the app because config files are

[2016-08-25 10:38] jerrinot opened #1062 "Fail-Fast when attempting to build on JDK 8"
I'm on https://github.com/payara/Payara/commit/4660a87c296768a77b9f562f3ad3fa08a750adc4 and when I tried to build Payara by invoking the `gfbuild.sh` script I've got this error:

[code]

This is with `Oracle JDK 8u101`

When I set my `JAVA_HOME` to `Oracle JDK 7u80` then the build script finishes just fine.

The build script should check the current Java version and fail-fast - with a descriptive

[2016-08-25 10:47] smillidge commented on #1062
actually the build script needs deleting as you should just be able to build Payara using

mvn install from the root.

[2016-08-25 10:48] mikecroft commented on #1062
We've got issue #338 to purge those old bits and pieces.

[2016-08-26 07:47] coiouhkc opened #1065 "Payara embedded: JVM System Properties overwritten"
Hello all,
currently Payara embedded overwrites JVM System Properties like 'javax.net.ssl.trustStore' if being started as in https://github.com/coiouhkc/payara-issue-959.
The reason for it is the code in SystemTaskImpl#setSystemProperty, where it gets overwritten with default domain values ($TEMP/gfembed/config/cacerts.jks).
Is there a way to avoid this behaviour?

[2016-08-26 14:39] Quix0r commented on #966
Thank you, very much.

[2016-08-28 12:55] #1046 closed

[2016-08-30 10:03] mikecroft commented on #863
Closing this issue as no longer a problem. If, after disabling OpenMQ, this problem still exists, then the issue can be reopened.

[2016-08-30 10:03] #863 closed

[2016-08-30 10:04] mikecroft commented on #214
Closing as no longer an issue. If there is still a need for more tooling beyond what is already available, I would suggest creating a new issue.

[2016-08-30 10:04] #214 closed

[2016-08-30 10:18] mikecroft commented on #351
Hi @peraxel - is this still a problem with Payara Server 163?

[2016-08-30 18:29] fantaseour opened #1070 "Could not deploy simple war on cluster while Internet is off"
Steps to reproduce:
1. download payara full, unpack, start-domain
2. create new config based on default
3. create new cluster (Clusters->create) based on new config
4. add single instance to cluster
5. start cluster
6. turn off internet connection!
7. try to deploy simple web application with glassfish-web.xml or sun-web.xml
8. get error:  Unable to locate the DTD to validate your deployment descr

[2016-08-30 23:54] gustavomassa commented on #1054
@Pandrex247

Thank you Andrew!
The new patch is working fine.

[2016-08-31 13:25] chrjohn opened #1072 "JDBC connection attempt does not time out"
We are using Payara 4.1.152.1 and recently had the following problem: the connection to our data base went down (network problem). When we tried to get a connection from the pool the components of our application were hanging until Payara was restarted about eight minutes later. The stack trace on shutdown shows that several components were waiting for a connection from the pool. Example:

[code]

[2016-08-31 14:42] edilmar commented on #1059
I would like something like CLI commands, not third-party tools like JRebel.

[2016-08-31 21:01] edilmar opened #1074 "Is it possible to configure deployment for doesn't process each persistence unit?"
I have an webapp in Payara 4.1.1.162 + JPA + Hibernate 4.3.
My webapp has more than 20 PUs, because it needs to look for data in many databases.
But these databases aren't neeeded at the same time, there are options in the menu that
use one or other database at this time. I would like to know if it is possible to configure
Payara/JPA/Hibernate to doesn't do the initial check of databases at deploy

[2016-09-01 00:33] OndrejM commented on #1074
This question is very specific to Hibernate and as Hibernate is not included in Payara Server, I can only provide general advice.

I would try using EntityManager lazily everywhere, injecting EntityManagerFactory first, and calling emf.createEntityManager only when needed. It may or may not help, because hibernate might be validating persistence units defined in persistence.xml even sooner than in

[2016-09-01 08:43] peraxel commented on #351
@mikecroft No, it's not a problem with Payara 163. Thanks.

[2016-09-01 08:43] #351 closed

[2016-09-01 09:44] mikecroft commented on #1070
I've managed to reproduce this locally and in a virtual machine with NAT networking. I'll need to do a bit more testing to be sure of what's actually going on, but the warning in the console can be ignored. It's a valid warning, but the actual issue here isn't directly related to that.

[2016-09-01 15:11] edilmar commented on #1074
I use JTA and not RESOURCE-LOCAL in persistence.xml for all databases.
The problem is not Hibernate specific, if I use EclipseLink, there is a initial startup time too.
But I will try to question Hibernate team for ideas.

[2016-09-01 20:51] edilmar opened #1077 "Script to automate config of a server without human interaction"
Hi,
I have a script to automate configuration of the Payara Server: define main password, update jvm-options, configure general options, create database pools, deploy apps.
The problems with my script are 2 initial steps that I don't need to do without human interaction:
1) change-admin-password
2) first update of options, when Server needs that I type Yes or No to the certificate.
Is there some w

[2016-09-02 07:53] mikecroft commented on #1077
Yes, for step 1 you will need to create a password file (text file) with the following values:

[code]

The password can then be changed as follows:
`asadmin --passwordfile=myPasswordFile.txt --user admin  change-admin-password`

For the second step, what command(s) are you running?

[2016-09-02 12:54] mikecroft commented on #1042
This is fixed by #1069 which should be available by the 164 release. Before then, this will get built into a nightly release as soon as it gets merged so will be available as a preview then.

[2016-09-02 13:41] pdudits opened #1078 "Undefined behaviour when interceptor method is overloaded in interceptor class PAYARA-1067"
We achieved very interesting behavior with following code constellation:

[code]

What happens is, that during deployment, the `InterceptorManager` will ask `LifecycleCallbackDescriptor` for a method reference to use as `@AroundInvoke` method. It will call `LifecycleCallback.getLifecycleCallbackMethodObject`, and it will return first method with name `log` in this class it finds. Which is, any of

[2016-09-02 14:14] OndrejM commented on #1078
Very interesting situation indeed :)
First I thought that interceptor method must be public, but it's not the case according to the Javadoc.

But the Javadoc of [AroundInvoke](https://docs.oracle.com/javaee/7/api/javax/interceptor/AroundInvoke.html) states that the method must consume a singe argument of type InvocationContext. Therefore it is even better to check if the method has this argument,

[2016-09-02 15:51] edilmar commented on #1077
Hi,
1) it worked fine to change pass
2) when I run the first asadmin command after first startup, Payara gives a question to accept the certificate builtin SSL. For example, my first command is to remove PermSize and after create a new config:
$ASADMIN --user admin --passwordfile mypass.txt delete-jvm-options -XX\\:PermSize=64m

[2016-09-03 14:59] edilmar commented on #1077
The complete msg from first CLI command is:

[
[
  Version: V3
  Subject: CN=XXX.com.br
  Signature Algorithm: SHA256withRSA, OID = 1.2.840.113549.1.1.11

  Key:  Sun RSA public key, 2048 bits
  modulus: 1016941931350523298853752767232985714474055941077788141355891329755092869444418975532043825551592351333533412637572510902364097757781120859070724460680184356472223337809297249639461700499154655914

[2016-09-03 15:09] Quix0r opened #1080 "java.lang.RuntimeException: java.lang.NullPointerException while uploading e.g. via SSH to autodeploy"
The following exception occurs with 163 when a JAR/WAR is being currently uploaded (e.g. slow SSH connection) to domain's autodeploy folder and the server tries to open it while it is still incomplete:
[code]
Using latest **163** build. This is easy reproduceable by uploading an incomplete WAR (because the upload is in progress).

[2016-09-03 15:10] Quix0r commented on #966
Sorry to say but this is getting urgent. :-(

[2016-09-03 18:17] #937 closed

[2016-09-03 18:20] lprimak commented on #966
@Quix0r Did you by any chance raise this issue with EclipseLink team?
At first glance, this seems to be an issue with EclipseLink

[2016-09-03 21:40] smillidge commented on #927
OK I've spent some time in this code investigating.

1) This is nothing to do with JASPIC as the "error" happens without any JASPIC i.e. injecting a request scoped bean into a simple forwarded Servlet.
2) I'm not sure if this is a bug without testing a lot on other servers.

The problem arises from how Payara implements Servlet forwards and includes. Payara always creates a HttpServletRequestWrapp

[2016-09-04 10:09] arjantijms commented on #927
Good find! I'll try to add a test for this too in the Java EE 7 samples project.

I'd like to do a new report on a larger number of servers wrt to JASPIC tests from the EE 7 samples project soon, so then for a somewhat larger number of servers it will become clear how they behave here.

From what I understood, the CDI spec is not super clear on how the per request setup should actually be done. We

[2016-09-04 15:32] smillidge commented on #927
An interesting test would be to create a Servlet Filter which wraps the request and then see what request is received in Request Scoped Beans in other servers that utilise Weld. It could be that Liberty and WildFly don't wrap servlet requests during forwarding hence the difference in behaviour.

[2016-09-04 15:44] arjantijms commented on #927
From the top of my head I think they will receive the original request, not the wrapped one, but certainly something to double check. Indeed, if Liberty and WildFly somehow make the original request instance aware of every forward and include, it would likely automatically work for request instances that were previously stored.

There's quite an amount of research that can be done here to find out

[2016-09-04 18:56] smillidge commented on #1080
Have you tried using the asadmin deploy command or using the administration console to deploy rather than the autodeploy directory if you are on a slow link.

[2016-09-04 20:29] jensborch opened #1085 "Unable to set ClientInfo for connection with H2 1.4.192"
H2 version 1.4.192 throw a java.sql.SQLClientInfoException with the message "Property name 'numServers is used internally by H2" when Payara tries to set client info on the connection in the close called in the ConnectionHolder40 class.

This creates a lot of severe stack traces in the log.

Running Payara Micro 4.1.1.163 with Hibernate 5.2.2.Final.

`2016-09-04T21:51:17.385+0200] [Payara Micro 4.

[2016-09-05 11:44] mikecroft commented on #966
Sorry it's taken a while @Quix0r. We are, unfortunately, unable to give any guarantees or SLAs on issues raised via GitHub, since we always have to prioritise work for paying customers (we couldn't fund any work if we didn't!). If you [get in touch with us](http://www.payara.fish/contact), we can give you some details on pricing for a support contract where you would get SLAs on tickets and access

[2016-09-05 12:42] Quix0r commented on #966
@lprimak Okay, I can report it there and link to here. :-)
@mikecroft I understand this.

[2016-09-05 13:20] mikecroft commented on #966
The next public release will be the 2016 Q4 (164) release, which is currently targeted to early November. The version of Eclipselink in Payara is [a patched 2.6.2](https://github.com/payara/Payara/blob/master/appserver/pom.xml#L125) if the bug is in Eclipselink like @lprimak says, then let us know on this ticket and we will get it into the next public release as soon as it's made available by Ecli

[2016-09-05 14:38] andreasernst commented on #736
I got now more time to investigate.

Running Payara Version: Payara Server  4.1.1.163 #badassfish (build 215)
[EL Info]: 2016-09-05 13:10:19.68--ServerSession(223098142)--EclipseLink, version: Eclipse Persistence Services - 2.6.1.qualifier

I dropped the Eclipselink Jars from 154 to 163, and is it working.

[2016-09-05 14:55] andreasernst commented on #736
Running Payara Version: Payara Server  4.1.1.163 #badassfish (build 215)
EclipseLink, version: Eclipse Persistence Services - 2.6.3.v20160428-59c81c5

Exception Description: Cannot use an EntityTransaction while using JTA.

So, it seems to be an error of EclipseLink.

[2016-09-05 16:01] Quix0r commented on #1080
Not yet but I expect to have it working. Still I would like to see something like:
- pre-check if uploaded file is complete/readable
- if not, ignore it
- if so, process it

[2016-09-05 16:19] smillidge commented on #1080
I'm not sure how the autodeployer could know you are uploading the file. When the admin console and asadmin commands upload a file they upload to a temp directory first then copy over the file when the upload is complete. Could you not upload via ssh to a temp directory then cp into the autodeploy directory once the upload is complete?

[2016-09-05 16:27] OndrejM commented on #736
I don't think it's an error but alignment with the specification, see the javadoc of [EntityManager.getTransaction](http://docs.oracle.com/javaee/7/api/javax/persistence/EntityManager.html#getTransaction--). Tapestry uses the EntityManager as a resource-level EM, but you configured it as a JTA EM in persistence.xml.

What you should do is configure your persistent unit to use a resource-local EM.

[2016-09-06 07:04] michaelpaesold commented on #1077
Set the `AS_ADMIN_INTERACTIVE` environment variable to `false`.

On Windows you might use `SET AS_ADMIN_INTERACTIVE=false`, on Unix maybe `export AS_ADMIN_INTERACTIVE=false`.

[2016-09-06 12:58] Quix0r commented on #1080
Hmm, then still I need to SSH to the server. Well, it was an idea when I saw the error message.

[2016-09-06 12:58] #1080 closed

[2016-09-06 14:35] andreasernst commented on #736
This is also not working:

java.lang.RuntimeException: The persistence-context-ref-name [de.aeits.ccis.pages.UserErstellen/entityManager] in module [ERDA-CCIS_Tapestry_5_Application] resolves to a persistence unit called [de.aeits_ERDA-CCIS-EJB_ejb_1.01PU] which is of type RESOURCE_LOCAL. Only persistence units with transaction type JTA can be used as a container managed entity manager. Please ver

[2016-09-06 14:57] OndrejM commented on #736
@andreasernst , have you tried to apply my latest suggestions to your persistence.xml? Do you still get the errors?

[2016-09-06 15:53] andreasernst commented on #736
Yes, i did your change, but see my last post. It does not work.

[2016-09-06 18:21] OndrejM commented on #736
I'm sorry, I interpreted your message incorrectly.
The last error is raised by Payara Server during deployment when the application defines a dependency on a JTA entitymanager with a non-JTA persistence unit (e.g. using `@PersistenceContext` or via `@PersistenceUnit`).

On the other hand, [Tapestry-JPA integration](https://tapestry.apache.org/integrating-with-jpa.html) obviously requires a RESOURC

[2016-09-07 09:25] smillidge commented on #966
Have you thought about dropping down into Native SQL to execute the query you wanted?

[2016-09-07 11:13] Quix0r commented on #966
No, the query runs over more than one table and cannot be joined.

[2016-09-07 12:10] smillidge commented on #966
You would need to use a Union.

[2016-09-07 13:37] OndrejM commented on #1074
I checked the behavior of Payara thorughly and it seems that every persistence unit that is injected through either EMF or EM, is being validated by Payara at deployment, at least when the bundled eclipselink is used. There is nothing that can be do about it other than request an enhancement to provide an option not to validate persistence units.

A workaround that should work would be to retrieve

[2016-09-07 15:32] mikecroft commented on #587
Hi @drupalspring is this still a problem for you? Could you reproduce the problem with the test project that Abhi provided?

[2016-09-07 15:40] opengl-8080 opened #1086 "@javax.faces.view.ViewScoped does not work only at Payara Micro PAYARA-1036"
I create a JSF backing bean with `@javax.faces.view.ViewScoped`.
And to set a query parameter into a backing bean by `<f:viewParam>`.

**ViewScopedBean.java**

[code]

**index.xhtml**

[code]

However, an exception is thrown when I open `index.xhtml`.

Stacktrace is following.

[code]

This error is only occured at Payara Micro.

I deployed a same war file to Payara(not micro), this error was not

[2016-09-08 04:26] anhdv1 opened #1087 "Warning: Error parsing validation.xml when jax-rs"
i create web app with : Bean validation ( use hibernateValidator 5.1.0)  and  Jax-RS , JEE7
when i display data the first .
it return Exception and it is only occured at the first. ( the scecond and more don't display this Exception)

[code]

---

[code]

file validation.xml

[code]

i copy lib hibernate into payara_home/glassfish/lib

[code]

Rest Application file

[code]

i think that the cause

[2016-09-08 07:15] andreasernst commented on #736
Thanks all for help. Eclipselink is throwing an error for that issue after the 2.6.1 releases.

[2016-09-10 04:46] opengl-8080 commented on #1086
Thank you!

[2016-09-10 12:41] OndrejM commented on #736
There was a major refactoring in EclipseLink 2.6.1, therefore it is not possible to find out what was changed and if it was intentional or it can be fixed.

The only good solution now is to fix the application as per my recommendation or otherwise to align with the JPA specification and how Tapestry integrates with JPA. I don't believe that with current Tapestry-JPA integration it is possible to u

[2016-09-10 12:41] #736 closed

[2016-09-12 09:02] ayedo opened #1088 "Possible to Use Third Party Connection Pool?"
Hi,

I was wondering: is it possible to use a third party connection pool with Payara?

We are running some benchmarks, and I would like to see how the native connection pool compares to connection pools such as [Hikari CP.](https://github.com/brettwooldridge/HikariCP)

Thanks.

[2016-09-12 09:03] mikecroft commented on #354
Internal issue for this is `PAYARA-1004`

[2016-09-12 09:04] mikecroft commented on #352
Related internal issue `PAYARA-1004` to clone the help repo, so we can then correct it

[2016-09-12 09:06] mikecroft commented on #338
Internal issue no `PAYARA-1059`

[2016-09-12 09:11] mikecroft commented on #242
Internal issue id `PAYARA-1060`

[2016-09-12 09:15] mikecroft commented on #1047
Internal issue id `PAYARA-1061`

[2016-09-12 09:17] mikecroft commented on #227
Internal issue id `PAYARA-1062`

[2016-09-12 09:28] mikecroft commented on #370
Internal issue related to this is `PAYARA-837`.

This may not be something we can do anything about, since GlassFish Tools for Eclipse is part of the OEPE suite and (apparently) no longer open.

[2016-09-12 09:33] mikecroft commented on #397
Is this still an issue? Just for reference, we have an example which uses the `javax.cache` dependency with no problems:
https://github.com/payara/Payara-Examples/blob/master/rest-examples/rest-jcache/pom.xml#L24

[2016-09-12 10:03] mikecroft commented on #502
Created internal issue `PAYARA-1063` to evaluate and pull these commits.

[2016-09-12 10:12] mikecroft commented on #443
This was investigated a while ago. The cause is stopping a server with a `kill -9` instead of gracefully. The temporary files are created in the location set in `-Djava.io.tmpdir` and some examples are:

fileinstall-502716310109529317
gendContent9090768065971402812.zip
tmpdir-gf-gf4pilot-multi-26990

To make sure these are cleaned up, we would need to eagerly destroy them. Even then, there is no g

[2016-09-12 10:15] arjantijms commented on #370
That sounds somewhat troublesome, but it depends on how much GlassFish Tools is still going to be updated. I have to say that I personally haven't experienced the issue for some time, but then again it was always something that came and go anyway.

Perhaps eventually a "Payara tools" for Eclipse would be the way to go?

[2016-09-12 10:26] mikecroft commented on #517
Internal issue `PAYARA-1064`

[2016-09-12 10:29] mikecroft commented on #419
This is fixed in #760 and documented here:
https://payara.gitbooks.io/payara-server/content/documentation/extended-documentation/classloading.html

[2016-09-12 10:29] #419 closed

[2016-09-12 10:34] mikecroft commented on #165
Internal issue id `PAYARA-223`

[2016-09-12 10:41] mikecroft commented on #608
Closing as this is also addressed by #165

[2016-09-12 10:41] #608 closed

[2016-09-12 10:52] mikecroft commented on #646
Internal issue id `PAYARA-1065`

[2016-09-12 10:55] mikecroft commented on #219
Internal issue id `PAYARA-1066`

[2016-09-12 10:57] mikecroft commented on #853
Fixed by #930

[2016-09-12 10:59] mikecroft commented on #1077
Hi @edilmar has Michael's suggestion worked for you?

[2016-09-12 11:01] mikecroft commented on #587
Closing as cannot reproduce.

If this is still an issue @drupalspring, please reopen with a test case that shows the issue.

[2016-09-12 11:01] #587 closed

[2016-09-12 11:04] mikecroft commented on #370
Yes, I think that could be the only viable way forward for this. We're keen to support the ecosystem around Payara Server, but also wary of spreading ourselves too thin and overcommitting ourselves.

The most recent sources I found were here:
https://java.net/projects/glassfishplugins/sources/svn/show/trunk/eclipse-support?rev=1607

I'm not sure how close they are to something that's even worth fo

[2016-09-12 11:07] mikecroft commented on #606
This was addressed outside the issue. We suspected that it was an environment/network/other issue since it worked fine when downloading from one server, but not from another, but that was never proven.

[2016-09-12 11:07] #606 closed

[2016-09-12 12:08] mikecroft commented on #507
Hi @arochamo thanks for confirming the fix to the original issue! To keep everything clean (i.e. 1 issue = 1 bug) can you confirm that your follow up problem still exists and create a new issue for it? I'll close this issue now since it's been fixed.

[2016-09-12 12:08] #507 closed

[2016-09-12 12:09] mikecroft commented on #509
Is there still work to do on this, @smillidge? I know the 2 min delay issue has been addressed and we have now [implemented the Hazelcast store for persistent EJB timers in Payara Micro](http://blog.payara.fish/persistent-ejb-timers-in-payara-micro), are there still outstanding items in this to address?

[2016-09-12 14:13] edilmar commented on #1077
Hi @mikecroft I didn't installed the new server. I'll do this next week.

[2016-09-12 18:55] lprimak commented on #502
@dmatej can you create a pull request for this?
This would be very helpful

[2016-09-12 22:10] trajano commented on #397
Haven't been working on it. But you should be able to close if you have a working example now. 

--
trajano.net

On Mon, Sep 12, 2016 at 5:33 AM -0400, "Mike Croft" <notifications@github.com> wrote:

Is this still an issue? Just for reference, we have an example which uses the javax.cache dependency with no problems:

https://github.com/payara/Payara-Examples/blob/master/rest-examples/rest-jcache/

[2016-09-13 06:05] webelcomau opened #1091 "JSF+ObjectDB: why might deployment of a large web app to Payara Server 4.1.1.163 takes 10 times longer than to Glassfish-4.1"
Adapted from http://stackoverflow.com/questions/35681181/jsfobjectdb-why-might-deployment-of-a-large-web-app-to-glassfish-4-1-1-or-pay

[code]

Until recently I have been using:

[code]

I have recently investigated using:

[code]

With a very large JSF web app (with ObjectDB as JPA persistence provider) I am experiencing massively longer deployment times to both Glassfish4.1.1 (over 10 minutes) A

[2016-09-13 07:55] mikecroft commented on #1091
I don't know of anything that could make the deployment take so much longer. There's not a lot to go on here, particularly if we can't reproduce or see any examples.

Could you provide any data at all on this? Which steps were taking longer?

[2016-09-13 07:56] mikecroft commented on #397
Thanks @trajano!

[2016-09-13 07:56] #397 closed

[2016-09-13 10:55] webelcomau opened #1092 ""asadmin list-logger-levels" does not list java.util.logging.ConsoleHandler"
Mac OS X: Yosemite 10.10.5
NetBeans8.1
Payara 4.1.1.163 (and same with Glassfish4.1 or Glassfish4.1.1)

Also reported as: https://java.net/jira/browse/GLASSFISH-21560

With out-of-the-box Payara.

The docs I refer to below are:

[code]

The docs (and `help list-log-levels` both give java.util.logging.ConsoleHandler in the output example:

From Glassfish4 admin guide:

[code]

When I perform this w

[2016-09-13 12:22] webelcomau commented on #1091
Preparing side-by-side comparison and measurements using screencasting video. More later.

[2016-09-13 13:08] mikecroft commented on #888
Hi @edilmar - have you had chance to verify that this fails in an unmodified Payara Server with the `fish.payara.classloading.delegate` system property set to false? I don't think this is related to any other DeltaSpike issue we've encountered so that should be OK.

[2016-09-13 13:14] arjantijms commented on #370
@mikecroft

There's a source bundle for the most recent GlassFish tools here: http://www.oracle.com/technetwork/developer-tools/eclipse/downloads/index.html

Specifically: http://download.oracle.com/otn_software/oepe/12.2.1.3.1/neon/glassfish-tools-source-16.1.1.zip

[2016-09-13 13:14] mikecroft commented on #780
Hi @fcaputo is this still a problem?

[2016-09-13 13:16] mikecroft commented on #143
Internal issue id `PAYARA-1070`

[2016-09-13 13:22] mikecroft commented on #585
@smillidge does this sound like the issue with broken sessions we had a long time ago to you? Based on that, I think this is expected behaviour when a session breaks - is that your conclusion too?

[2016-09-13 13:22] mikecroft commented on #725
Closing since we can't reproduce.

[2016-09-13 13:22] #725 closed

[2016-09-13 13:25] mikecroft commented on #370
Thanks @arjantijms! @smillidge - FYI. The source is distributed under the EPL and you don't need to accept any license terms to download.

[2016-09-13 13:28] mikecroft commented on #753
Hi @rajumca43 is this still an issue for you? Do you have any more details?

[2016-09-13 13:29] mikecroft commented on #391
Hi @thomas-mc-work can you verify whether or not this has been fixed in 163?

[2016-09-13 13:44] thomas-mc-work commented on #391
I'm still testing. So far it didn't appear yet.

[2016-09-13 14:57] edilmar commented on #888
@mikecroft  I solve my problem using new versions of DeltaSpike and RichFaces. Now all runs fine!

[2016-09-13 14:57] #888 closed

[2016-09-13 19:08] smillidge commented on #853
the PR doesn't integrate the activator

[2016-09-13 19:17] smillidge commented on #1065
Payara Micro has code in it to prevent this happening. Could you try with Payara Micro instead?

[2016-09-13 19:26] #927 closed

[2016-09-13 20:26] coiouhkc commented on #1065
Hi Steve, what subset of EJB 3.1 does Payara's Micro EJB lite implementation support?

[2016-09-13 20:50] smillidge commented on #1065
Web profile so no MDB

[2016-09-14 13:05] dorpsidioot opened #1093 "Hazelcast serialization issue when sending events"
We would like to be able to signal all the members of a hazelcast payara cluster that a certain resource has been invalidated and should be reloaded. Say for example that on node1 a request has arrived which causes an invalidation of the internal workings of a singleton implementation, then the other nodes have to do the same as node1.

So I was thinking of using the hazelcast functionality to do

[2016-09-14 16:57] smillidge commented on #1093
The problem is caused by Hazelcast threads which are started before your application is deployed and therefore know nothing about your application classes.  We are working on this at the moment to see if we can initialize Hazelcast with a specialised classloader that looks into the application classloaders to load objects.

One solution is to write a library for message objects and place it in the

[2016-09-15 01:10] webelcomau commented on #1091
@mikecroft I have performed careful side-by-side comparison using screencast recording and comparing with timings in the log.

In Payara41 (4.1.1.163) and Glassfish4.1.1 it gets "stuck" as shown below for about 10 minutes, and I have not found any log setting that gives a single line of output here where the problem occurs, and running the server in DEBUG mode also does not seem to give any additi

[2016-09-15 12:51] dorpsidioot commented on #1093
I'll try by providing a custom serializer which gets the correct context or just send strings(json) or byte arrays which contain the data itself and deserialize them locally as you suggested(json has the advantage that it's easily kept backwards compatible).

[2016-09-15 17:21] smillidge commented on #1091
Can you  provide a thread dump when it is paused for 10 minutes to see what the threads are doing?

[2016-09-16 01:49] webelcomau commented on #1091
With Payara41 running in DEBUG mode I took the thread dump here:

[code]

I can't recall seeing that line about `REST requests` before, it appeared some seconds after the  `WELD-000411: Observer method` line. In any case, it then "stalled" for some time then I took the attached thread dump using:

`$ ./asadmin generate-jvm-report --type=thread`

[2016-09-16-payara41-deployment-stall-thread-dump-1.

[2016-09-16 13:08] smillidge commented on #1091
Looks like it is in the middle of Weld code how long into the deployment was the dump taken?
It would be useful to have a series of dumps at intervals during the long deployment to diagnose better.

[2016-09-16 20:14] dmatej commented on #744
Aha, I have forgotten that. Finally, the problem was loadbalancer and replication in cluster and maybe even between modules (speculation) - since I have refactored application as I wrote earlier AND configured the loadbalancer to hold session for one minute on same instance, all problems vanished.
I can't imagine how to create some repeatable test case because the problem depends on thread schedul

[2016-09-16 20:42] dmatej commented on #502
It seems my older commits are already merged to Payaras 4.1.1.163 and payara-blue-4.1.1.162, I have seen some unresolved keys sice then, but didn't fix them yet (one is fatal, payara could not create it's self signed certificates in one environment but I don't know why, because the cause was not printed in server.log - only "{0}").

[2016-09-17 10:56] webelcomau commented on #1091
@smillidge

Thanks for your persistence with this matter, which has been (first with Glassfish4.1.1 and now with Payara41) an enormous headache and expense for me. Hopefully the following diagnosis and files will be enough now for you to find the underlying problem. To be clear, I do not have a sponsor of any kind for time spent investigating this, so I am relying on Payara as a commercial provide

[2016-09-19 04:11] NghiaHanoi opened #1096 "Paraya 4.1 use EclipseLink JPA instead of Hibernate JPA while doing entity validation on JAX_RS method parameter"
I have the following JAX-RS method (JEE7)

[code]

In the form data, I try to leave a blank field to catch ConstraintValidationException (JEE7 bean validation).
When invoking this method from AngularJS client, i have the following exception:

[code]

In my persistence.xml, I already configure using Hibernate JPA

[code]

Please help solving the problem!
Thanks in advanced!

[2016-09-19 08:24] juangon commented on #638
:+1:

[2016-09-19 09:39] smillidge commented on #1096
Can you check whether you have the JPA api jars in your deployment EAR or WAR. If so can you make sure you remove them.

[2016-09-19 09:40] smillidge commented on #638
We are currently thinking of setting up Gitter what do you think?

[2016-09-19 09:45] juangon commented on #638
Hmm as what I see there are no threads in Gitter, so it's more like slack or a chat when everyone talks under the same timeline. IMHO I would prefer a "classic" forum where people creates threads, and then each of them is managed separately, instead of all together (I see it a little bit chaotic).

[2016-09-19 11:31] ayedo commented on #1088
Just to clarify: I am talking about the JDBC connection pool.

[2016-09-19 20:34] edilmar commented on #1074
@OndrejM I already use this "lookup" method, but with this method, it is needed to configure ejb-jar.xml and persistence.xml, no way to directly read the information from Payara Connection Polling.
The dream solution would be no ejb-jar/persistence config and an API to call Payara for a dinamic loading of the EntityManager, something like:
`
@Inject SomeConnectionPollClass poll;
public void aMetho

[2016-09-19 23:49] mulderbaba commented on #1085
@jensborch this is a regression introduced with H2 1.4.192, if you can rollback to 1.4.191, you should be fine and in the mean time Payara team is looking into the problem.

[2016-09-20 13:59] edilmar commented on #1077
@michaelpaesold  and @mikecroft it worked fine, thanks!

[2016-09-20 13:59] #1077 closed

[2016-09-20 15:44] lreimer opened #1098 "ClassNotFoundException for JaxbAnnotationIntrospector upon first request to REST endpoint"
The stack trace for this issue is below. This seems to be a know, but still open issue for Glassfish 4.1. See https://java.net/jira/browse/GLASSFISH-21141

Clearly the workarounds suggested in this issue won't work for Payara Micro, since I would somehow repackage it and include the missing classes.

As a reproducer you can use my Github Repo at https://github.com/lreimer/everything-as-code
Just r

[2016-09-20 18:38] p-schneider commented on #391
I had the same issue on Payara 4.1.1.162 today (google brought me here) and it is now working fine after upgrading to 4.1.1.163.

[2016-09-20 20:00] smillidge commented on #1098
Is this on Payara Micro?

[2016-09-20 20:38] lreimer commented on #1098
Yes. This is happening on Payara Micro, my project is currently using 4.1.1.163  (with 4.1.1.162 this was the same)

[2016-09-21 22:50] cyberoblivion commented on #638
I just happened on this thread while looking for a forum to post a question to.

http://www.discourse.org/ is pretty amazing just a suggestion.

Currently it is suggested to use Stackoverflow?

[2016-09-21 23:00] cyberoblivion opened #1100 "Can't use jsf implemetation bundled with app"
Because of some compatibility issues with my application and various Mojarra versions I need to maintain a specific JSF implementation version. I tried the recommended configuration in glassfish-web.xml

[code]

This doesn't seem to have any effect.

[2016-09-21 23:07] mulderbaba commented on #1100
@cyberoblivion which JSF version you want to stick with? and how do you use the jsf jar, in war or ear?

[2016-09-21 23:16] cyberoblivion commented on #1100
We are stuck with support for only 2.1.3-2.1.6 and 2.1.18-2.1.24. We have deployments that use ears and wars but it is mostly for convenience. We could get by with just wars if makes fixing the issue simpler.

[2016-09-22 00:18] lprimak commented on #1100
@cyberoblivion has this ever worked or is this something you are trying for the first time?
Having some familiarity in that part of the code base, I would say that it doesn't support "downgrading" JSF, it is just for using other JSF implementations, such as Apache MyFaces.

I would say it would be a lot easier for you just to copy the appropriate javax.faces.jar into Payara modules/ directory

[2016-09-22 16:20] ivangonzalezsaenz opened #1103 "JobOperatorImpl cannot be instantiated"
Hello, I'm having an issue when trying to run a test on JBatch. I'm receiving the following errors on server.log (debug mode):

Grave:   Could not instantiate service: fish.payara.jbatch.persistence.rdbms.LazyBootPersistenceManager due to exception:java.lang.ClassNotFoundException: fish.payara.jbatch.persistence.rdbms.LazyBootPersistenceManager not found by org.glassfish.main.batch.payara-jbatch [

[2016-09-22 16:36] cyberoblivion commented on #1100
@lprimak I can't say 100% if I have ever used it to explicitly "downgrade" but I can tell you that you could bundle a specific jsf version in 3.1.

I tried your suggestion of copying the 2.1.24 faces jar into the modules directory but Payara will not startup because OSGI requirements do not pass verification.
`Unable to resolve 185.0: missing requirement [185.0] osgi.wiring.package; (&(osgi.wiring

[2016-09-22 16:43] lprimak commented on #1100
We will take a look at it as resources become available.  What s the exact issue with JSF 2.2.x that you are experiencing?  The compatibility (as far as my experience) is superb in JSF

[2016-09-22 16:57] cyberoblivion commented on #1100
Unfortunately that has not been my experience. The exact issue is that the component library we use, Icefaces 3.3.0 does not work with JSF 2.2. You end up with an exception:
`Cannot add the same component twice icefaces_config`

icefaces 4+ would work except we have invested a huge amount of time and testing into the current software and we are happy with it, there is no reason for us to spend the

[2016-09-22 18:15] mikecroft commented on #1103
We will need a lot more information to be able to help on this.

- What was the test?
- What was the expected outcome?
- What was the actual outcome?
- Can you upload, or link to a repository of a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org/)?
- What version of Payara Server are you using?

[2016-09-22 19:33] smillidge commented on #1100
Hi As Payara is derived from GlassFish 4.x it includes JSF 2.2 as that is the implementation specified by JavaEE 7. If you want to sponsor some work to create a downgraded bundled version that could be possible. Can you submit something via our contact form http://www.payara.fish/contact and we can pick it up from there to work out how feasible ot would be.

[2016-09-22 20:19] cyberoblivion commented on #1100
Sounds good will do

[2016-09-23 03:24] Prateek1215 opened #1104 "[Payara Micro] Context root defined in glassfish-web.xml file is override after the file is read during deployment"
Our team is using Payara-micro for the first time. We are making use of Uber-jar for deployment using maven as describer here [http://blog.payara.fish/creating-uber-jar-with-payara-micro]. Our war file name is **microapp.war**. The Web-INF/glassfish-web.xml file looked like this:
`<?xml version="1.0" encoding="UTF-8"?>`
`<!DOCTYPE glassfish-web-app PUBLIC "-//GlassFish.org//DTD GlassFish Applicati

[2016-09-23 10:44] comul opened #1105 "[Payara Embedded] Unable to deploy JSF enabled Web app. or Web module"
Tested with payara-embedded-all 162, 163 and 163.0.1
Both web application or web module that enabled JSF configuration can not be deployed.
The stack trace for ear depoly is below. Same trace generated for web app.

SEVERE: Unable to obtain InjectionProvider from init time FacesContext. Does this container implement the Mojarra Injection SPI?
Sep 23, 2016 1:07:06 PM javax.faces.FactoryFinderInstan

[2016-09-23 10:52] baztian opened #1106 "@Stateless @WebService does not inject CDI beans in SOAPHandler"
When I annotate a Soap webservice with @Stateless the SOAPHandlers won't inject CDI beans. Glassfish is also affected.

Minimal example:

[code]

[2016-09-23 10:54] baztian commented on #1106
I'm not sure if this might be related to https://java.net/jira/browse/GLASSFISH-20658

[2016-09-23 10:55] baztian commented on #1106
I'm not sure if this might be related to https://java.net/jira/browse/GLASSFISH-20658 and https://java.net/jira/browse/GLASSFISH-19493

[2016-09-23 16:37] #871 closed

[2016-09-23 22:45] ivangonzalezsaenz commented on #1103
Hi Mike,
**The test** is for using an ItemReader implementation using chunk and steps to read from a CSV file and write to a database, using a Java batch persistence configuration with a MySQL database for the job repository. I kept trying to solve it yesterday and today and after adding the following dependencies in the web module pom file, the application finally found the fish.payara.jbatch.per

[2016-09-23 22:57] mikecroft commented on #638
I would love to use discourse, but it's not a particularly viable option for us at the moment. The pricing model they have is too much to justify for us and we just don't have the staff to invest in managing even more infrastructure than we already do.

It's been very high on my list of priorities to have a proper community place for a long time now, to foster discussions and a more back-and-forth

[2016-09-23 23:03] mikecroft commented on #744
OK, thanks for the update! I'll close this off now.

[2016-09-23 23:03] #744 closed

[2016-09-23 23:06] mikecroft commented on #391
Thanks for the comment, @p-schneider! I'll close this under the assumption that it's been fixed now, @thomas-mc-work. If you do find the problem hasn't been sorted, then please just reopen this.

[2016-09-23 23:06] #391 closed

[2016-09-24 07:48] smillidge commented on #1103
Can you make sure there are no JBatch jars in your ear file. All the dependencies should be provided scope

[2016-09-24 09:14] kbachl commented on #638
Really nice to see my suggestion got so much attention lately. Regarding the "gitter": i had a look at it and I somehow don't see how this translates to a forum like place. They self claim them as "chat and networking platform" and I see them as some kind of web-IRC service IMHO.

I've looked at discourse and some other kind of free hosted forums (e.g.: https://www.proboards.com/ ; https://vanilla

[2016-09-24 12:31] ivangonzalezsaenz commented on #1103
Steve, I removed all dependencies and the issue is still the same.

[2016-09-24 13:03] smillidge commented on #1103
Can you try this sample application?

https://github.com/payara/Payara-Examples/tree/master/Java-EE/jbatch-schedule

[2016-09-24 16:05] smillidge commented on #1103
I tested against MySQL with the example application and had no problem. Here's an asadmin script to configure MySQL generated using the asadmin recorder in the admin console. The script assumes your mysql schema name, the user and the password are all payara.
You also need to copy the MySQL JDBC Driver jar into the glassfish/lib directory.

[code]

[2016-09-24 17:51] ivangonzalezsaenz commented on #1103
The issue keeps the same, even now that I'm using the new BatchPool resource. I think there is something with the variables stored in batchContainerProps corresponding to the ServicesManagerImpl object of my JobOperatorImpl. Values are still pointing to a Derby database. Thanks.

[2016-09-24 18:05] dNhax opened #1108 "NetBeans opens wrong URL when running EAR"
**Disclaimer**: As NetBeans in combination with GlassFish 4.1 seem to work correct, I guess this may be a GlassFish 4.1.1 (and thus a Payara) issue.

I'm developing a Maven Enterprise Application Project (attached) with NetBeans 8.1 on my Windows 10 Pro x64 machine. As server I tested GF 4.1.1 first, but after the problem occurred I switched to Payara 4.1.1.163; same problem.

So, when I want to r

[2016-09-25 11:06] smillidge commented on #1103
There are only three code paths where that NPE can occur that I can see.
1) The Datasource name you have configured for the Batch subsystem is not a datasource
2) The database is returning a product name string that is not recognised.
3) The datasource can not connect to the database to get a connection (in which case a SEVERE log message should precede the error.

The only other option is that yo

[2016-09-25 20:03] smillidge commented on #1106
Have you tried adding a Bean defining annotation on your SOAP handler e.g. @Dependent to see if it makes any difference?

[2016-09-25 20:10] smillidge commented on #1104
This is a "feature" the problem with UberJar is that when deploying a war stored within the war by default the war filename will be some horrible temp filename. Therefore if a user does not explicitly specify a context root in their glassfish-web.xml they get a horrible temp context. Therefore UberJar explicitly uses the filename root of the embedded war file to determine the context root. I would

[2016-09-25 20:45] smillidge commented on #1091
The thread dump seems to indicate this is all in deployment on the admin-thread-pool(2) thread. However User cpu time for the offending thread while large is 106 seconds which is nowhere near the time you are seeing. Have you checked your garbage collection during deployment to make sure you are not doing many long stop the world garbage collections?

[2016-09-25 21:00] smillidge commented on #1013
The stack trace above doesn't seem to be using the isValid on the JDBC40ConnectionValidation.java class. However I take the point this is a very useful enhancement.

[2016-09-25 21:02] smillidge commented on #1013
Internal enhancement PAYARA-1078 created.

[2016-09-26 02:59] Prateek1215 commented on #1104
@smillidge Thanks for your comment. We have decided to go with renaming the war file as Root.war. I think future scope will be to check whether is there any context root defined in glassfish-web.xml. If yes, UberJar takes that context root otherwise take the war name as context root.
I will close the issue as of now.

[2016-09-26 02:59] #1104 closed

[2016-09-26 07:34] dorpsidioot opened #1112 "Make Hazelcast EJB timer store from Micro available in full profile"
The current Payara micro feature of being able to store EJB timers in the embedded Hazelcast is a very nice feature that would be very nice to have in the full EE profile server. Is it possible to make this work in the EE server too? Currently I'm writing a custom hazelcast solution to be able to track timers across a hazelcast cluster, but this would make life so much easier.

[2016-09-26 07:53] mikecroft commented on #1112
created internal issue `PAYARA-1079` to track this request

[2016-09-26 07:58] mikecroft commented on #1104
Created `PYSVC-90` to get this documented.

[2016-09-26 08:20] smillidge commented on #1112
It is possible to do this now but only by editing the domain.xml. Add the following to the domain.xml to test.
[code]

[2016-09-26 08:24] dorpsidioot commented on #1112
So the "Hazelcast" name is the JNDI name of the EJBtimer? Should be able to modify this in the web console too under the EJB timer settings or not?

[2016-09-26 08:26] smillidge commented on #1112
No it's an internal name for Payara to initialise a Hazelcast based EJB Timer persistence store. It will be global for all timers and for all servers that use that configuration.

[2016-09-26 08:27] dorpsidioot commented on #1112
Thanks, I'll give it a whirl when I've updated my servers to 4.1.163.1! Is this change coming to the UI in 164?

[2016-09-26 08:31] mikecroft commented on #1112
Created `PYSVC-91` to document this :)

[2016-09-26 08:32] baztian commented on #1106
Thanks @smillidge @Dependent on the TestSOAPHandler doesn't make any difference. Using the same example as above but without @Stateless injection works.

[2016-09-26 08:53] smillidge commented on #1106
OK thanks that narrows it down a bit

[2016-09-26 10:19] OndrejM commented on #1074
I imagine you could implement the `SomeConnectionPollClass` yourself, if you have constant number of PUs with static names. I would do that by defining a session bean like `MySessionBean` above for every PU, it would mean 20 session beans, inject them all to `SomeConnectionPollClass` and then use switch in `getEntityManagerFromPoll` method to select the appropriate PU.

I don't get what you mean b

[2016-09-26 14:00] dorpsidioot opened #1113 "hazelcast-config.xml doesn't seem to be loaded"
I'm trying to change the multicast settings of the hazelcast configuration to a tcp-ip members list version, but it seems as though the hazelcast-config.xml file is not being read and/or found by the payara server itself. I've tried putting it in different locations but no avail.
Tried domains/domain1/config , domains/domain/config/hazelcast (by setting the location manually) etc

Config file itse

[2016-09-26 14:11] #1113 closed

[2016-09-26 14:11] dorpsidioot commented on #1113
Nvm...stupid mistake made by me.... Windows server silly thing hid the filename extension and falsey added .txt behind the file... Sorry about this!

[2016-09-26 14:17] andreasernst commented on #585
I got this error right now with 163 and Firefox. Closing the TAB nor restarting Firefox does help. Starting Chrome loading the page and then reload the page in Firefox helps.

[2016-09-26 14:35] dorpsidioot commented on #1112
I've just finished the test using 1 simple application with 3 timers (persistent ones with @Schedule) and changed the domain-xml config for the server-config bit to Hazelcast timer service but I'm getting this error:

[code]

[2016-09-26 14:48] edilmar commented on #1074
@OndrejM I dont have constant number of PUs.
I have a server where new enterprises are installed in the same webapp, just appending the config in ejb-jar.xml/persistence.xml about new PUs. But the problem is that, after each new enterprise installed, I need to undeploy/deploy the webapp, and the deploy time is slow because each PU has to be initialized by JPA/Hibernate. And in runtime, each PU con

[2016-09-26 16:03] smillidge commented on #1112
Did you enable Hazelcast?

[2016-09-26 19:12] smillidge commented on #1112
Actually I have been dumb the Hazelcast based EJB timer store is not packaged into this version of Payara Server, although it does work if you get the module and drop it into the modules directory. If you want to test it we can put the module up somewhere. Sorry :-(

[2016-09-26 19:18] smillidge commented on #1112
Here's the [Hazelcast EJB Timer Store](https://c2b2-my.sharepoint.com/personal/smillidge_c2b2_co_uk/_layouts/15/guestaccess.aspx?guestaccesstoken=Cduif%2bI17ex%2fvBfWbutQek%2fgDVht1rRw0%2fQvxsH5hF8%3d&docid=01d305f042fee437fac3cd86e8f3544b1&rev=1) module.
Drop the jar file into the glassfish/modules directory and restart the server.

[2016-09-27 02:52] ivangonzalezsaenz commented on #1103
Steve, I finally could solve it. I activated debug mode on both the server and on Netbeans. First, I noticed that I received the following message:

, and I found that Glassfish was trying to interpret that the schema that we configured days ago as 'payara' was misunderstood as if it were the "database". Then I remember an article I read [here](https://payara.gitbooks.io/payara-server/content/docu

[2016-09-27 02:52] #1103 closed

[2016-09-27 06:57] dorpsidioot commented on #1112
Thanks. I will test this asap! Will this be included in 164 release? That way I know I can already use this beforehand, thus enabling us to use a baked-in timer storage solution rather than having to reinvent the wheel again. We're using MongoDB as a database, so I can't really use the standard database-based EJB timer storage.

[2016-09-27 07:08] dorpsidioot commented on #1112
Ok first test results:
I've created a simple app in a war with 1 EJB with 3 timers (@Schedule). Each of them is marked as persistent and they execute once every 5 seconds(so 0/15, 5/15 and 10/15). Upon first deployment I noticed the timers were being created but they were executed on both of the instances instead of just on one of them!

So I thought: hmm, maybe I was being stupid and I disabled b

[2016-09-27 08:21] smillidge commented on #1112
OK. First thing is that store fires the timers on all cluster members not on a single member. It just uses Hazelcast for persistent storage not for cluster coordination. So if you need a singleton timer it won't work for you currently.

I'll take a look at the error above.

[2016-09-27 08:22] smillidge commented on #1103
Great we need to make these errors more obvious by suppressing the stack traces to make it easy to spot problems like this.

[2016-09-27 13:21] OndrejM commented on #1074
@edilmar In that case I would go with completely dynamic setup and avoid updating persistence.xml/ejb-jar.xml at all. You can override almost everything in persistence.xml using properties, which you can pass to entitymanager using [EntityManagerFactory::createEntityManager](https://docs.oracle.com/javaee/7/api/javax/persistence/EntityManagerFactory.html#createEntityManager-java.util.Map-)

For dy

[2016-09-27 13:28] RaZv opened #1114 "CDI deployment failure:WELD-001408:com.sun.enterprise.config.serverbeans.ConfigBeansUtilities(Applications, Domain)"
hi,
I am trying to port my Arquillian tests to java8 with Payara (test are working with java6 and Glassfish 3.1).
It is failing in one of the Payara internal classes - ConfigBeansUtilities, when trying to deploy the .ear file:

org.glassfish.deployment.common.DeploymentException: CDI deployment failure:WELD-001408: Unsatisfied dependencies for type Domain with qualifiers @Default
  at injection po

[2016-09-28 05:54] comul commented on #1105
I solved my problem by adding listener in web.xml as shown below. But I don't know this is a workaround.

<listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
</listener>

[2016-09-28 06:57] mulderbaba commented on #1105
@comul ConfigureListener class tries to bootstrap the runtime manually, that should not be the case for an EE container but I need to check the behaviour with embedded version.  do you have a self contained ear example that demoes your application structure?

[2016-09-28 10:19] mikecroft commented on #1108
This sounds like a NetBeans issue. I checked their BugZilla and it looks like the issue hasn't been raised there:
https://netbeans.org/bugzilla/buglist.cgi?chfieldfrom=2013-09-01&chfieldto=Now&component=GlassFish&query_format=advanced

Paging @GeertjanWielenga - is the best thing to do from here to raise a bug on BugZilla?

[2016-09-28 10:33] peraxel opened #1115 "Authorization stops working after app redeploy"
I have a simple web application packages as a war-file. It has a glassfish-web.xml file that describes mapping between principals and roles. I'm deploying the application on a remote server by copying the war-file to the domain autodeploy folder. On first deploy everything works fine, authorization is done according to configuration in glassfish-web.xml. When I change the principal to role mapping

[2016-09-28 10:57] mikecroft commented on #1098
Verified the bug with the test case and raised internal issue `PAYARA-1081`

[2016-09-28 12:09] mikecroft commented on #1115
Do you have a simple test case which shows this behaviour?
http://sscce.org/

[2016-09-28 12:18] GeertjanWielenga commented on #1108
Yes and then send me a mail here with a link to the issue so we can expedite it: geertjan.wielenga@oracle.com
Gj

    On Wednesday, September 28, 2016 12:19 PM, Mike Croft <notifications@github.com> wrote:

 This sounds like a NetBeans issue. I checked their BugZilla and it looks like the issue hasn't been raised there:
https://netbeans.org/bugzilla/buglist.cgi?chfieldfrom=2013-09-01&chfieldto=Now

[2016-09-28 13:14] mikecroft commented on #780
I'm going to assume you got around this issue @fcaputo and close it here. If you're still seeing this problem in the latest version of Payara Server and have a reproducer (http://sscce.org/), please feel free to reopen this.

[2016-09-28 13:14] #780 closed

[2016-09-28 15:09] mikecroft commented on #753
Hi @rajumca43 we can't help you on this without more details. If you can give us a sample which reproduces the problem, we can take a look. I'll close this for now, but feel free to reopen if you can give us a test case.

[2016-09-28 15:09] #753 closed

[2016-09-28 17:40] edilmar commented on #1074
@OndrejM one more question then I try to implement your idea.
I have one config like this in ejb-jar.xml for each enterprise:
`
      <persistence-context-ref>
        <description>enterpriseX</description>
        <persistence-context-ref-name>persistence/enterpriseXPU</persistence-context-ref-name>
        <persistence-unit-name>enterpriseXPU</persistence-unit-name>
        <persistence-context-

[2016-09-28 20:12] peraxel commented on #1115
[jaas-bug.zip](https://github.com/payara/Payara/files/499162/jaas-bug.zip)
Unzip jaas-bug.zip
Copy payara-4.1.1.163.zip into jaas-bug dir
./run.sh

[2016-09-28 22:05] omidshapouri commented on #1098
It is happening not only for the first time but also in some requests afterward.
I am currently using Payara Server 163 and this is the issue which i am struggling with.

[2016-09-28 22:12] lreimer commented on #1098
The reproducer showcase also includes a Gatling load test, maybe it is possible to reproduce the recurring behavior.
@omidshapouri is the error happening on the same REST resource? Or on the first request but on different resources?

[2016-09-28 22:28] omidshapouri commented on #1098
@lreimer It is always happening on the first request regardless of which resource is being called.
moreover, I can see the error being recorded in logs sometimes even after the first one.
I have to send the request again whenever this error occurred.

[2016-09-29 08:59] mikecroft commented on #881
@kuez Are you still getting these errors after applying @mulderbaba's changes?

[2016-09-29 09:10] mikecroft commented on #1100
I'll close this issue here since we can follow up via the contact form.

Backported fixes are something we now provide under our **professional** support level (previously only **Enterprise** level). I'm not sure if we could do the initial downgrade under that (I'm not sure of the complexity - @smillidge ?) but we could maintain that version with backported fixes.

Here's our new pricing structure

[2016-09-29 09:10] #1100 closed

[2016-09-29 09:30] mikecroft commented on #1115
Perfect! Thank you, that shows the error very clearly. I've created `PAYARA-1082` to track the issue.

[2016-09-29 10:04] OndrejM commented on #1074
You need to go one level deeper. Instead of getting the EntityManager via a JNDI name, you would create a datasource inside the server, and pass its JNDI name to the EntityManagerFactory to create the EntityManager.

See here how to define a datasource dynamically from within a deployent package (e.g. ejb-jar): https://blogs.oracle.com/enterprisetechtips/entry/datasource_resource_definition_in_jav

[2016-09-29 10:08] OndrejM commented on #1074
I forgot to add - you should also [close](https://docs.oracle.com/javaee/6/api/javax/persistence/EntityManager.html#close()) the created EntityManager at some point, ideally after request is completed. I believe that you can close it during the transaction and it gets closed only after the transaction is finished.

[2016-09-29 14:48] mikecroft commented on #598
@rafagan is this still an issue for you? It looks like the solution was to properly clear up your MongoDB resources in, e.g. a `@PreDestroy` method of an EJB. Did that solution work for you?

[2016-09-29 15:18] dNhax commented on #1108
Hey,

thanks for answering!
I already filed a bug at NetBeans' Bugzilla ([https://netbeans.org/bugzilla/show_bug.cgi?id=268195](url)).

Regards.

[2016-09-29 16:00] GeertjanWielenga commented on #1108
Please use my work e-mail address from this point onwards: geertjan.wielenga@oracle.com
Gj

    On Thursday, September 29, 2016 5:18 PM, dNhax <notifications@github.com> wrote:

 Hey,thanks for answering!
I already filed a bug at NetBeans' Bugzilla (https://netbeans.org/bugzilla/show_bug.cgi?id=268195).Regards.—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2016-09-29 17:31] Davio commented on #1059
You can try asadmin disable app and asadmin enable app. It's faster than redeploying and might pick up the changed config.

[2016-09-29 17:35] Davio commented on #1047
If you would use and enable this, you could maybe also enable secure admin by default?
And perhaps this would require the hostname to be set to some real value, i.e. not localhost.

[2016-09-30 20:05] anaelcarvalho commented on #1013
Thank you. As a workaround, I've created a custom validation class and set the timeout there: [sample](https://gist.github.com/anaelcarvalho/3035f96a2ddc00d91a0a9c8287ea819a)

[2016-09-30 20:36] anaelcarvalho commented on #1072
Do you have a connection timeout specified in your driver settings (actual network connection)? This is just speculation on my part, but maybe some condition caused the application to wait for a connection indefinitely because the pool was waiting on a network connection with the database first.

I've had this situation occur sometimes - everything went back to normal once the db was up again.

[2016-10-02 10:55] mulderbaba commented on #1114
@RaZv Is it possible to share your reproducer with us? Which version of Payara embedded are you using with Arquillian? It'd be great if we can get more information from your side, regarding arquillian config also.

[2016-10-02 12:04] rds76 opened #1117 "wrong redirect of webservice endpoint to https"
**Payara v163**
web service EJB configured with: `<transport-guarantee>CONFIDENTIAL</transport-guarantee>`
original endpoint url: http://my.domain.com/ws/b2b

Got error:
[code]

[2016-10-02 23:40] gregrluck opened #1118 "Sources are not attached in Maven properly"
I was having trouble getting IntelliJ to attach sources from

<dependency>
                    <groupId>fish.payara.extras</groupId>
                    <artifactId>payara-embedded-all</artifactId>
                    <scope>test</scope>
                </dependency>

This is using 4.1.1.163.0.1.

Instead of the -sources.jar contains the source code in a tree it contains a file called source.zip.

[2016-10-03 04:00] okemaster opened #1119 "Request for update javax.el"
**Cause :** AstValue#setValue Caused NullPointerException
**Reference :** https://java.net/projects/uel/sources/svn/revision/421
Before in GF3.1.2 with javax.el-2.23 still working

Stack Trace

[2016-10-03 08:00] chrjohn commented on #1072
Hi @anaelcarvalho , thanks for your message.
No, I did not specify any timeout values in the driver settings. I take it that you are referring to the "Additional Properties" when editing the "JDBC Connection Pool Properties"?

[2016-10-03 10:17] mulderbaba commented on #1119
@okemaster can you share your full stacktrace with the nested exceptions if any exists. we're almost at the very latest of the javax.el (3.0.1-b03), so my suspicion is there might be a hidden exception underneath yours.

[2016-10-03 18:02] mulderbaba commented on #1118
created internal issue `PAYARA-1084` to track this request

[2016-10-03 22:25] rafagan commented on #598
No, I could solve using the help from this post. Thanks!

[2016-10-04 07:31] #598 closed

[2016-10-04 07:55] rds76 commented on #1117
Possible found source of the issue: https://github.com/payara/Payara/blob/master/appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/EjbWebServiceServlet.java#L138

and another with wrong  WARNING message:

https://github.com/payara/Payara/blob/master/appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/LogUtils.java#L289

Regarding https://docs.oracle.co

[2016-10-04 08:20] RaZv commented on #1114
@mulderbaba thank you for taking this up, I am quite desperate to get it working.

I have two flavors of arquillian tests. One that is only deploying a .jar file and then does some operations on the in memory db (storing, finding deleting) - this one works fine.
The other flavor, is an .ear file, and the tests are starting up the browser and mimicking the user input using selenium webdriver. The c

[2016-10-04 08:31] mikecroft commented on #1117
I think you need to change your use of URLEncoder to [HttpServletResponse.encodeRedirectURL()](https://tomcat.apache.org/tomcat-8.0-doc/servletapi/javax/servlet/http/HttpServletResponse.html#encodeRedirectURL(java.lang.String)). I'm not an expert, but it looks like `URLEncoder` is not for encoding URLs, but for encoding Strings in the `application/x-www-form-urlencoded` MIME type

[2016-10-04 09:05] rds76 commented on #1117
I went a bit further with some tcpdump, this is what server replies:
[code]
with urldecoded Location: `http://my.domain.com/ws/https://my.domain.com:443/ws/b2b`
IMHO server is returning wrong url. I would expect: `https://my.domain.com:443/ws/b2b`

[2016-10-04 09:06] mikecroft commented on #1114
@RaZv could you create a new repository here on GitHub with the sources of your WAR?

[2016-10-04 09:12] mikecroft commented on #1117
Have you changed your use of `URLEncoder`? From what I've found, that is only to be used to encode, e.g. the ***path*** of a URL, hence your location. [See this SO answer](http://stackoverflow.com/a/10786112/212224).

`java.net.URLEncoder` is a Java SE class and not provided by Payara, so this would not be an issue with Payara Server.

[2016-10-04 09:17] UlrichCech opened #1120 "Payara-Embedded: Servlet [RegistrationCoordinatorPortTypePortImpl] and Servlet [RegistrationRequesterPortTypePortImpl] have the same url pattern"
Even with the smallest possible REST-Application (one GET-Endpoint), the starting of the embedded Payara (4.1.1.163.0.1) fails with the following stacktrace.
I tested with 4.1.1.162/4.1.1.163 as well.

If this small WAR is deployed to a Payara Full Server 162/163, everything works fine.

The test-project can be found here:
https://github.com/UlrichCech/payara-embedded-error

[code]

[2016-10-04 09:22] rds76 commented on #1117
There is no issue in urlencode, the issue is: **Payara returns wrong redirect Location**.
Tried also to open wsdl in Chrome browser and it redirect me to: `http://my.domain.com/ws/https%3A%2F%2Fmy.domain.com%3A443%2Fws%2Fb2b` instead of `https%3A%2F%2Fmy.domain.com%3A443%2Fws%2Fb2b`

[2016-10-04 09:26] mikecroft commented on #1120
Your ApplicationConfig doesn't implement `getClasses()`. Could you try adding that method [like in this example](http://tomee.apache.org/examples-trunk/rest-example-with-application/README.html) and share your results?

[code]

[2016-10-04 09:29] mikecroft commented on #1117
Sorry, my mistake, I misunderstood your update. Can you share the source of *your* code that's giving the incorrect location? We need to be able to reproduce it independently to work on a fix.

[2016-10-04 09:40] okemaster commented on #1119
latest version of javax.el in central repo is 3.0.1-b08
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.glassfish%22%20AND%20a%3A%22javax.el%22
** cannot find release note.
i'm try update to 3.0.1-b08. the result of update can fix problem but i'm don't know root cause.

If i'm free after work, i will provide POC code later.

addition stack trace

[2016-10-04 09:44] rds76 commented on #1117
Actually create any simple EJB webservice with config file `glassfish-ejb-jar` and secure it with **CONFIDENTIAL** token
call any ws method or simply open WSDL: urlendpoint?wsdl

_glassfish-ejb-jar:_
[code]

Btw, Glassfish v3.1.2 does not redirect at all, it just returns empty response with HTTP/1.1 200 OK  and  message in log
[code]
But thats a differnet story...

[2016-10-04 09:46] UlrichCech commented on #1120
I added the getClasses() method, but nothing changed...

[2016-10-04 16:10] edilmar commented on #1059
@Davio the "enable process" consumes the same time of "deploy process", re-reading the configs, re-charging the persistence units, re-processing the CDI files, etc.

[2016-10-04 20:56] rds76 commented on #1117
## Fix:
Src: [EjbWebServiceServlet.java](https://github.com/payara/Payara/blob/master/appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/EjbWebServiceServlet.java#L138)
worng: `hresp.sendRedirect(URLEncoder.encode(sb.toString(), "UTF-8"));`
**correct:** `hresp.sendRedirect(hresp.encodeRedirectURL(sb.toString());`

using java.net.URLEncoder is not correctly handled by HttpSer

[2016-10-04 21:02] rds76 opened #1122 "Bug in parametrized log messages"
For example:
Source: [LogUtils.java](https://github.com/payara/Payara/blob/master/appserver/webservices/jsr109-impl/src/main/java/org/glassfish/webservices/LogUtils.java#L289`)
correct: `message = "Invalid request scheme for Endpoint {0}. Expected ''{1}'', received ''{2}''.",`

Regarding [MessageFormat](https://docs.oracle.com/javase/7/docs/api/java/text/MessageFormat.html), params must be escaped

[2016-10-05 06:35] RaZv commented on #1114
hi,
I have added the war file here : https://github.com/RaZv/cdi-war-problem
thank you

[2016-10-05 08:03] RaZv commented on #1114
Interesting, I have changed to pom to use Glassfish 4.1.1 and I get the exact same error as when I was using Payara 4.1.1.163.0.1
'23227  2016-10-05 10:01:10,381 WARN  [main] weld.Event.? (?:?) - WELD-000411: Observer method [BackedAnnotatedMethod] private org.glassfish.jersey.ext.cdi1x.internal.CdiComponentProvider.processAnnotatedType(@Observes ProcessAnnotatedType<Object>) receives events for a

[2016-10-05 08:17] mulderbaba commented on #1114
@RaZv thanks for the war file. is it possible to upload the source of that war file as well in order to build the project on our local and test it through the IDE?

[2016-10-05 08:30] RaZv commented on #1114
@mulderbaba I wish I could, but it is not possible :( ... anyways, have you ever tried to deploy a .war file using arquillian ? my guess is that the cdi problem is related to glassfish and not to the specific source code of the project

[2016-10-05 11:57] mulderbaba commented on #1119
@okemaster, I want to align the versions of API and IMPL for the unified EL so the max. version that we can get up to is: 3.0.1-b04. I can try 3.0.1-b08 with your reproducer by deploying it to custom-built Payara. From what I understood by looking to your the stacktrace is: you're doing a collection binding to PrimeFaces table and one most probably using an input field inside that table. The value

[2016-10-05 23:17] anaelcarvalho commented on #1087
I'm not sure, but I think it's complaining about the schemaLocation in your validation.xml file... I'd try changing it to `http://jboss.org/xml/ns/javax/validation/configuration/validation-configuration-1.1.xsd` and check if it makes a difference.

[2016-10-05 23:23] anaelcarvalho commented on #1072
Yup! Your JDBC driver documentation should have some property to set the connection timeout (if you're using the PostgreSQL JDBC driver you can set `loginTimeout`, `connectTimeout` and `socketTimeout`). I'd try playing with these and check if this behavior happens again.

[2016-10-06 14:01] jerrinot opened #1124 "Proposal: Use javax.cache.annotation.CacheDefaults when injecting JCache"
Payara uses `CacheDefaults` for cache resolution in the CDI interceptor as the spec mandates.

I believe it would make a lot of sense to use `CacheDefaults` as a cache resolution strategy when injecting JCache via `@Inject`.

Currently it does use name of a declaring class as a cache name. There is also the `@NamedCache` but that creates a dependency on Payara-specific code.

[2016-10-06 15:56] smillidge commented on #1124
Do you fancy making a PR to demonstrate?

[2016-10-06 16:24] OndrejM commented on #696
Hi @dreamIt-de,
I'm sorry for a late response.
I was finally able to reproduce this issue finally. Payara server forces file rotation when it detects a custom log formatter, and this is before the configuration is completely loaded.

We're you able to work around the problem meantime?
We will try to fix this, but if you are able to help with a pull request or any helpful information, we would appr

[2016-10-06 19:27] jerrinot commented on #1124
I'll have a look at it.

The main issue I can foresee is a potential clash with the official Java EE - JCache integration. If the EG decided to not use the `@CacheDefaults` as a default name for caches injected via `@Inject`.

[2016-10-06 20:36] smillidge commented on #1120
The war you are generating contains payara embedded within it. Payara embedded should have provided scope when creating the war file.

[2016-10-06 20:51] jerrinot commented on #638
:+1: for Google Groups Forum.

[2016-10-06 20:57] jerrinot opened #1127 "Question: How to enable Hazelcast when running Arquillian tests?"
I apologize if this is not the right place to ask questions but I could not find any Payara forum.

What's the best/recommended way to enable Hazelcast while running tests in an embedded Payara container driven by Arquillian? I managed to get it running with https://github.com/jerrinot/microprofile-conference/commit/a3fab608c46cffe789fbe1c6c1b9077ccfb544ad, but it does not feel very good.

Is ther

[2016-10-06 21:06] UlrichCech commented on #1120
Hmm, but that's the main goal of the embedded version, that the Payara is IN the WAR-file and can be startet via a main-class, as provided in this blog post:
http://blog.payara.fish/using-payara-embedded-and-payara-micro-with-maven

And if I set the scope to "provided", if I start the main-class, I get "java.lang.NoClassDefFoundError: org/glassfish/embeddable/GlassFishException"... and that's the

[2016-10-06 21:14] smillidge commented on #1117
I can confirm this from the description. Internal bug ID is PAYARA-1104

[2016-10-06 21:25] smillidge commented on #1117
I can confirm the suggested fix also works. This will be in Payara 164

[2016-10-06 21:36] smillidge commented on #1120
You will still need to add the Payara embedded jar onto the classpath of your application with the main class. Payara embedded shouldn't be included in your war file. If you are looking to create an executable uber jar I would recommend using Payara Micro and take a look at these reseources;
http://blog.payara.fish/creating-uber-jar-with-payara-micro
https://github.com/payara/Payara-Examples/tree/

[2016-10-06 21:54] smillidge commented on #1114
Your war file contains internal Payara Server api classes in /WEB-INF/classes/com/sun/enterprise/config/serverbeans/ these are being scanned as CDI beans as they contain annotations however they are not valid CDI beans. These classes are provided by the Payara runtime and should be excluded from your war file.

[2016-10-06 21:58] #1093 closed

[2016-10-06 22:32] UlrichCech commented on #1120
Yes, with Payara Micro, I get it working, but then I don't need the Bootstrap-Server class anymore, but use command-line parameters for deploying and so on.

But now, I added an additional classpath element to the maven-exec-plugin (see changed GitHub-Test-project) and now it works.

But with this "hassle", I did not see any advantage for Payara Embedded and starting the server programmatically. E

[2016-10-07 06:10] comul commented on #1105
Yes i have.
How can i send you that app?

[2016-10-07 06:17] mulderbaba commented on #1105
@comul share the source through github please

[2016-10-07 07:15] RaZv commented on #1114
@smillidge you were completely right... I have refactored the code and removed these classes and I am able to deploy the war file to the Payara container. Thank you for your help!

[2016-10-07 11:06] #985 closed

[2016-10-07 11:21] smillidge commented on #1114
Good to know

[2016-10-07 11:21] #1114 closed

[2016-10-07 11:28] smillidge commented on #1120
Payara Micro is our solution for creating microservice style deployments for use in Docker etc. Payara embedded is predominantly used for testing purposes with arquillian etc.

[2016-10-07 11:31] UlrichCech commented on #1120
Thanks for clarification. Then I go on with Payara-Micro ;-)

[2016-10-07 11:31] #1120 closed

[2016-10-08 16:49] #1117 closed

[2016-10-08 17:00] smillidge commented on #1078
Closed by #1089

[2016-10-08 17:00] #1078 closed

[2016-10-09 20:16] smillidge commented on #1098
Pull request made. @omidshapouri Payara Server will also include the module when PR #1129 is merged

[2016-10-09 21:40] gregrluck commented on #1124
Lets cross that bridge when we get to it.

[2016-10-09 21:51] omidshapouri commented on #1098
@smillidge Thanks

[2016-10-10 14:40] dreamIt-de commented on #696
Hi @OndrejM Thank you for looking into the issue.
At the moment we are working around the issue with a cron job which moves the log files in an other directory before the glassfish deletes them.

[2016-10-11 19:23] #1124 closed

[2016-10-11 19:28] #1038 closed

[2016-10-12 10:32] #1074 closed

[2016-10-12 10:45] mikecroft commented on #881
Closing this issue on the assumption that the issue is resolved. If that's not the case, it can be reopened.

[2016-10-12 10:45] #881 closed

[2016-10-12 14:26] rds76 opened #1133 "Multiple JSF Applications found on same ClassLoader. Unable to safely determine which FactoryManager instance to use. Defaulting to first match - When running more Virtual servers PAYARA-2613"
Log file continually flooding with warning:

[code]

[2016-10-12 14:29] mikecroft commented on #1133
Can you give a bit more detail on your environment and how its configured? Have you turned off class loader delegation?

[2016-10-12 14:30] OndrejM commented on #1133
What do you mean "When running more virtual servers"?
Can you post your domain.xml file?
Does your application contain a JSF implementation (mojarra, icefaces, etc.) ?

[2016-10-12 14:36] rds76 commented on #1133
We are using PrimeFaces.
[code]
Can please explain:

[2016-10-12 15:26] mikecroft commented on #1133
By default, Payara Server delegates classloading to the application server and therefore libraries from the server are preferred over those from your application. This can be a problem with frameworks like Spring where it's important to use the version that you've built your application around.

If you set the system property `fish.payara.classloading.delegate` to `false`, then you can prefer your

[2016-10-12 19:01] mulderbaba commented on #1133
@rds76 which version of Payara are you using? Are you deploying more than one JSF + PrimeFaces based application? Are you doing any calls to class javax.faces.FactoryFinder from your application code?

[2016-10-13 07:24] rds76 commented on #1133
@mikecroft I set sevrver-config/System properties `fish.payara.classloading.delegate` to `false`. I doesn't help.
Suspection pointed me Virtual servers as during testing with just single default virt. server `server` we had not seen this warning. It prolly apears when we added 2 another virtual servers.
@mulderbaba Payara 163. We had 2 jsf apps but we tried undeploy and left just one with no succe

[2016-10-17 06:40] kissoid commented on #737
hi,
i saw the same problem in my friend and then i detected the reason of this problem.
i live in Turkey and my computer language is Turkish. problem about it. when i convert my computers language to English, my problem is resolved.
Biggest problem of Turkish language in programming languages is "i" and "ı" characters. I want to explain it.
In Turkish language, lowercase "i" = uppercase "İ" and lo

[2016-10-17 07:24] mulderbaba commented on #737
@kissoid you are right, I reproduced this while defining a connection pool PostgreSQL on a machine with Turkish locale. this is definitely a lowercase "i" issue.

[2016-10-17 18:57] jerrinot opened #1137 "Blocking Cache annotation"
I thought Payara could have a custom annotation to introduce a behavior described in https://github.com/jsr107/jsr107spec/issues/373

Something like `@Blocking` or `@Atomic` - when used together with `@CacheResult` it would behave as described at https://github.com/jsr107/jsr107spec/issues/373#issue-183403216

This is very useful in high throughput scenarios where the actual method execution is ex

[2016-10-17 19:16] jerrinot opened #1138 "Payara does not cache exceptions"
The `cacheException` flag is always [set to `false`](https://github.com/jerrinot/Payara/blob/418333155b32502490c3865912688191203e1a5e/appserver/payara-appserver-modules/payara-jsr107/src/main/java/fish/payara/cdi/jsr107/CacheResultInterceptor.java#L77-L77).

Is this intentional or is it just a left-over?

[2016-10-17 19:24] OndrejM commented on #1138
It must be a left-over, because the variable `cacheException` declared on line [77](https://github.com/jerrinot/Payara/blob/master/appserver/payara-appserver-modules/payara-jsr107/src/main/java/fish/payara/cdi/jsr107/CacheResultInterceptor.java#L77) is never used. Whole line could be removed without any effect.

[2016-10-17 19:26] jerrinot commented on #1138
oh, `cacheException` vs `cacheExceptions`. that's a good one, I completely missed that!

[2016-10-18 01:42] wsaxton commented on #911
Okay, so tried these exact steps with a different UNIX account which has MINIMAL configuration/environment settings and...it worked just fine.

So something tells me its a problem with my environment.

I went ahead and removed all .asadmin* files in my home directory.

Are there any other artifacts lying around somewhere that I should look to remove?

[2016-10-18 01:57] wsaxton commented on #911
Here is the place in server.log where it fails using my account:

Here is the place is the server.log where it succeeds using the bare-bones account:

[2016-10-18 02:21] wsaxton commented on #911
Figured it out.  My $JAVA_HOME was set incorrectly somehow.  Once I fixed it everything worked fine.  Sorry for wasting your time!

[2016-10-18 02:21] #911 closed

[2016-10-18 12:35] mikecroft commented on #1087
As @anaelcarvalho said, it looks to be complaining about the URL in your XML file. In the sample you posted, there is a space in the URL. You also look to have tried to specify the file itself, which I don't think you should do [based on the example in the docs](https://docs.jboss.org/hibernate/validator/5.3/reference/en-US/html/ch07.html#example-validation-xml).

Try changing from:

[code]

to

[

[2016-10-19 14:30] rds76 opened #1141 "Weird Http/Keep-Alive monitoring stats"
We have enabled keep-alive in http protocol, but there is 0 CountHit in stats. Or it looks like keep-alive doesnt work.

[code]

[2016-10-20 08:59] mikecroft commented on #1122
Created internal issue `PAYARA-1115`

[2016-10-20 09:39] mikecroft commented on #1092
Sorry for the delay in getting back to you. I've done a bit of digging here, it looks like this was a deliberate design decision on the part of GlassFish to ignore Handlers and only list log levels

[Line 173 of ListLoggerLevels.java explicitly ignores handlers](https://github.com/payara/Payara/blob/32f9e683cf01ed0b96de79648dafefa0a6087aa2/nucleus/core/logging/src/main/java/com/sun/enterprise/serv

[2016-10-20 12:50] mulderbaba commented on #737
created internal issue PAYARA-1119 to track this request

[2016-10-21 08:06] mulderbaba commented on #737
I went through the details on this and found the culprit on hibernate-validator itself. Filed a [ticket](https://hibernate.atlassian.net/browse/HV-1140) and sent a [PR](https://github.com/hibernate/hibernate-validator/pull/566) to them. So there is nothing we can do for this at the moment. Please provide system env. properties to your server like `-Duser.language=en -Duser.country=US` while starti

[2016-10-21 08:06] #737 closed

[2016-10-21 08:18] mulderbaba commented on #1119
@okemaster if you can provide a reproducer, that'd be great.

[2016-10-21 08:19] mulderbaba commented on #1105
@comul any updates on your reproducer sample app?

[2016-10-21 09:39] dorpsidioot opened #1143 "Gzip compression not working?"
I've set the compression to 'on' on both the HTTP listeners and modified the compressable mime types to: 'text/html,text/xml,text/plain,application/json,text/javascript'. This used to work like a charm in glassfish v3, but responses keep coming back uncompressed, but with encoding type 'chunked'.

I've tried disabling chunking but no avail either.

[2016-10-21 14:01] mulderbaba commented on #1086
fixed with PAYARA-1036

[2016-10-21 19:44] smillidge commented on #1143
Do you think this is the same as https://java.net/jira/browse/GRIZZLY-1669?

[2016-10-23 14:36] #1086 closed

[2016-10-23 17:13] #1098 closed

[2016-10-23 17:18] smillidge commented on #1137
Do you fancy creating it?

[2016-10-23 17:21] #1042 closed

[2016-10-24 07:47] mikecroft commented on #1108
Closing under the assumption that it will be continued as a Netbeans issue

[2016-10-24 07:47] #1108 closed

[2016-10-24 11:33] dorpsidioot commented on #1143
Don't think so, since that ticket is for requests where gzip compression has been applied to the request body. This is for the response body. In glassfish v3.1.2 this worked like a charm and it also works/worked(our prod server is still 4.1.154) on payara 4.1.154. I can confirm that it's not working with 4.1.162 and 4.1.163. It seems as if it's completely ignoring the configuration values. If I -

[2016-10-24 12:03] rds76 commented on #1143
U have to send request with correct header, `Accept-Encoding: gzip,deflate` does the trick. Response header contains `Content-Encoding: gzip` and body is gziped then. Working on latest Payara build.

[2016-10-24 12:15] dorpsidioot commented on #1143
Request:

GET /alcatras-web/resources/chart/data?series%5B%5D=541529913041000008_EM&series%5B%5D=541529913024000001_IST&series%5B%5D=541529913140000046_IST&series%5B%5D=541529913024000087_IST&series%5B%5D=541529913133000022_IST&series%5B%5D=541529913025000727_IST&series%5B%5D=541529913045000004_C5S_CMP&series%5B%5D=541529913045000004_N2_CMP&chartType=MULTI&period=INTERVAL&source=AUTO&trackingPerio

[2016-10-24 12:45] rds76 commented on #1143
what is the response content length?

[2016-10-24 12:49] dorpsidioot commented on #1143
5MB+, so large enough to merit compression

[2016-10-24 13:06] #1043 closed

[2016-10-24 14:32] rds76 commented on #1143
try change Mime Types to  `text/json`

[2016-10-24 14:37] rds76 commented on #1143
or try one o those:
`application/x-javascript` `text/javascript` `text/x-javascrip` `text/x-json`

[2016-10-25 14:05] mulderbaba commented on #1088
@ayedo well that'd be a hard one to replace I guess but you can embed the connection pool config into your application. that's what I usually do when I use c3p0 for instance. I use it by bundling it with spring&hibernate and that makes it easy to configure.

[2016-10-26 06:16] peraxel opened #1147 "JAX-RS sub-resource without HTTP method annotation is invokable"
Having a JAX-RS sub-resource without HTTP method annotation will expose it as invokable using any HTTP method. Making a request to such sub-resource gives HTTP response code 404, but the method is invoked anyway. Expected behaviour is HTTP response code 405 and needless to say, the method should not be invoked.

Reproducible using the attached file:

Unpack [jaxrs-bug.tar.gz](https://github.com/pa

[2016-10-26 07:15] peraxel commented on #1147
I had a closer look at the [Jersey docs](https://jersey.java.net/documentation/latest/jaxrs-resources.html). Looks like this could actually be intended behaviour for sub-resource locators. I still think the kind of "misuse" I show in my example app should be prevented. Could be prevented by making sure that the return type of a sub-resource locator method has at least one HttpMethod or Path annota

[2016-10-26 09:13] dorpsidioot commented on #1143
Tried all of them, no avail, still won't gzip, only chunks

[2016-10-26 11:56] rds76 commented on #1143
try remove **sdch** from request `Accept-Encoding: gzip, deflate, sdch`, and you can also try it with simple text/html requests
look, it works here:
[code]
[code]

[2016-10-26 13:02] mulderbaba commented on #1147
@thanks for the reproducer @peraxel.

[2016-10-26 13:43] mulderbaba commented on #1085
Created internal issue `PAYARA-1127`

[2016-10-26 16:44] retoo commented on #1072
@chrjohn that's exactly the bug from #769, see our patch #770  (for 4.1.152) and  #1148  (for 4.1.1.163).

When errors occur during some phases (begin/commit/rollback) the error handling code will crash immediately again (due to the same problem) and the connection will end up back in the connection pool. See the diff in the two pull requests, the new version is more robust during the finally {} c

[2016-10-26 19:31] lprimak commented on #585
Not sure if this is related, but I will take a look at processing that produces this error

[2016-10-26 20:19] lprimak commented on #585
This error is basically "jsp file not found" so if ```.jsp``` file is referenced and its not found, this error results

[2016-10-27 11:56] chrjohn commented on #1072
@retoo Thanks for the pointer. Although we don't have our log files flooded with Exceptions. There were only the aforementioned lines:

`RAR5038:Unexpected exception while creating resource for pool postgresql-dbpra2-pool. Exception : javax.resource.spi.ResourceAllocationException: Connection could not be allocated because: The connection attempt failed.`

But sounds like the same problem, though.

[2016-10-27 14:29] mikecroft commented on #203
The request tracing service has been released and the upcoming 164 release has even more interceptors which will be traced when turned on.

@OndrejM wrote a comprehensive blog on how to use it here:
http://blog.payara.fish/request-tracing-service-in-payara-server-payara-micro

[2016-10-27 14:29] #203 closed

[2016-10-27 14:45] OndrejM commented on #1138
@jerrinot, did you report this issue because you assumed the behavior from sources, or did you really observe that exceptions are not caught?

[2016-10-27 15:12] jerrinot commented on #1138
the report was based purely on my (broken) reasoning. You can close it + ideally remove that extra line. ahem, static code analysis, ahem:)

[2016-10-27 15:13] Hoobie opened #1153 "Ignored @WebFault targetNamespace on WSDL generation"
# Description

This issue is accurately described on Stackoverflow: http://stackoverflow.com/questions/27964771/why-webservices-wsdl-is-not-using-the-webfault-namespace
## Expected Outcome

Namespace from the WebFault annotation's targetNamespace property.
## Current Outcome

Namespace from one of the services.
## Steps to reproduce (Only for bug reports)

Prepare an application with 2 WebServices

[2016-10-27 16:34] mulderbaba commented on #1147
@peraxel I went through the JAX-RS documents and it's stating that sub-resource locator methods should not be annotated with the HTTP methods so your impl. is right on that part. But the locator method that you implemented is not returning a sub-resource back but modifying logic on the `GenericResource` itself. I think that should be done in the SubResource in order to prevent 404. A sample implem

[2016-10-27 17:34] retoo commented on #1072
@chrjohn  i think it depends how often the broken connection gets handed out. Under load the problem worsened in our case.

[2016-10-27 21:24] mulderbaba commented on #1153
@Hoobie I went through the code snippets but there were some missing bits. I gathered a working example available as attachment to this issue but couldn't reproduce the problem. [git-1153-src.zip](https://github.com/payara/Payara/files/557072/git-1153-src.zip). Can you go through it and verify?

[2016-10-28 07:09] itservices-trust opened #1154 "Buffer underflow after "Unknow type constant pool" during restart"
# Description

---

Restarting PAYARA with an application successfully deployed (.ear), result in buffer overflow
Seems related to an issue supposed to be resolved in version 162
We try our code on two different machine and the result differ
On the first machine, with java version 1.8.0_35-b13 the server restart(or application reload) without any problem
On the second machine, with java version 1.

[2016-10-28 07:29] jerrinot commented on #1154
The [original issue](https://github.com/payara/Payara/issues/959) was reported against Payara 4.1.1.162. If that's the one you are using then it's not fixed for you. I can see a fix was [merged](https://github.com/payara/Payara/pull/1052) on Aug 20, but I cannot correlate it to any particular release.

Someone form Payara team can clarify it. In the mean-time you can try to use the latest Payara v

[2016-10-28 07:46] itservices-trust commented on #1154
I have patched the dol.jar module with the code updated on 21 August of
src/main/java/com/sun/enterprise/deployment/annotation/introspection/ConstantPoolInfo.java
(PAYARA-1010 )
now restart work, hence I still notice some

`Severe:   Unknow type constant pool 15 at position311
Severe:   Unknow type constant pool 15 at position313
Severe:   Unknow type constant pool 15 at position443
Severe:   Unkn

[2016-10-28 09:54] OndrejM commented on #1154
I can confirm that the fix for the original issue #959 has not been released. It will be included in the next version 164 next month.

[2016-10-28 10:33] OndrejM commented on #1088
@avedo, there's no official way to replace the internal connection pool implementation. But if you access the connection pool from JTA, you should be able to add your custom connection pool as a custom JNDI resource, and point JTA to use it via its JNDI name. I'm not sure though if it works, I never tried.

[2016-10-28 10:37] OndrejM commented on #338
When resolved, also close the issue #1062, as it's a duplicate

[2016-10-28 10:56] jerrinot commented on #1154
@OndrejM: It would be great to have milestones in PRs/issues.

[2016-10-28 12:49] mikecroft commented on #1154
Can you reproduce this on Payara Server 4.1.1.163? The BufferUnderflow looks to be exactly the same as the already fixed issue, so there is nothing more we could do on that.

If the `Unknow type constant pool 15 at position311` messages are still there in 163, then there will be more work to do.

We will need a reproducible test case to be able to investigate properly, though, there's no hint as t

[2016-10-28 13:06] itservices-trust commented on #1154
We are already running on 4.1.1.163
163 was packed before the changes in ConstantPoolInfo.java, that's why I added it manually to the dol.jar
With this change the app can be reloaded and the server restarted. Although the error are SEVERE, the app reload and it's working normally

In any case I'll try to create a test app to replicate the error

[2016-10-28 13:15] mikecroft commented on #1154
Thanks, @itservices-trust - I deleted my comment since the fix for #959 isn't released yet, but it's probably still worth doing since you backported the fix yourself and still got the errors you mentioned. A test app would be very useful to help us track that down!

[2016-10-28 18:24] #1138 closed

[2016-10-29 02:21] lprimak commented on #585
I have taken a good look at all the execution paths resulting in ```PWC6117: File "null" not found``` errors.  There are three instances when this error is generated:
- Any HTTP request for a JSP file (```.jsp``` extension) that does not exist in the application
- Existing JSP file that has been removed from the Payara domain after the server has started
- When precompiled JSP application has been

[2016-10-29 02:49] lprimak commented on #585
@andreasernst I would re-build the domain in your case.  This sounds like a corrupted domain.
Short of that, you can try:
- Stop the server
Inside `${domain_dir}`:
- delete logs/*
- delete generated/*
- delete osgi-cache/*
- delete applications/*

Then re-deploy all your apps,
but I would start with a fresh domain.

[2016-10-30 13:56] douglasjunior opened #1158 "Conflict between Glassfish/Payara and JClouds dependence."
# Description

---

If I add the dependency of JClouds with Maven in the project:

[code]

The application is not deployed, I get the error:

[code]

I think it's a conflict between a dependence of JClouds and CDI used in Glassfish/Payara.

I tried to work with Glassfish 4.1 and 4.1.1 in the past, I could not. I am now using with Wildfly 10 and TomEE Plume.

Now I knew the excellent work of Payara

[2016-10-30 14:10] mulderbaba commented on #1158
@douglasjunior can you try executing the asadmin command below first?
`asadmin set configs.config.server-config.cdi-service.enable-implicit-cdi=false`

[2016-10-30 14:18] douglasjunior commented on #1158
@mulderbaba thanks for answering.

Now was deployed, but the dependency injection stopped working. My objects annotated with `@Inject` are `null`.

[2016-10-30 15:43] lprimak commented on #1158
@douglasjunior can you try this:
```asadmin create-system-properties --target server-config fish.payara.classloading.delegate=false```
and restart the server?

[2016-10-30 16:19] douglasjunior commented on #1158
@lprimak same problem.

This line was added in `domain.xml`, that's right?

[code]

Log:

[code]

[2016-10-30 16:23] lprimak commented on #1158
@douglasjunior what's included in jclouds-all?  Perhaps just it includes too many things that conflict with Java EE components included in Payara

[2016-10-30 16:30] douglasjunior commented on #1158
I do not know what the conflict is, but I also tested using specific components.

[code]

The problem already exists in Glassfish, my hope is that the Payara can provide a solution in the future.

[2016-10-30 21:15] mulderbaba commented on #1158
@douglasjunior I went into the details on that and CDI 1.2 spec states that:

Your class `SwiftBlobSigner`, and other classes like `ParseJson`, falls into this category so the error make sense. The classes are defined with `@Singleton` instead `@Dependent` and they have parameterized bean class def (contains generics)

I'll try to figure out why other containers are ignoring this case and Payara w

[2016-10-30 22:57] douglasjunior commented on #1158
@mulderbaba thanks for this.

I think JClouds uses @Dependent annotations with other CDI system, because these libraries also works in Java SE.

I think the container should not interfere in this case.

[2016-10-31 02:20] lprimak commented on #646
Hi, @vkalayda

I have a production application running and specifying bean-pool for MDBs works as designed.
Now, I have not looked at your project but MDB pool works.  I will try to replicate with ```@Stateless``` soon, but the odds are it will work as well.

[2016-10-31 07:24] peraxel commented on #1147
Yes, you are right. As I wrote in my previous comment, I think this is the intended behaviour. But I still think the kind of "misuse" I demonstrated in my example should be prevented. Will try to file that to the Jersey team instead. Closing this.

[2016-10-31 07:24] #1147 closed

[2016-10-31 08:04] Hoobie commented on #1153
@mulderbaba, thank you for the quick reply.

I have verified your example and slightly modified it to get one namespace for the first WS and a separate namespace for the second WS and the web fault:
[git-1153-1.0.war.tar.gz](https://github.com/payara/Payara/files/561297/git-1153-1.0.war.tar.gz)
[git-1153.tar.gz](https://github.com/payara/Payara/files/561296/git-1153.tar.gz)

Then after the 3rd dep

[2016-10-31 08:37] mikecroft commented on #338
Fixed by #1151

[2016-10-31 08:37] #338 closed

[2016-10-31 08:37] mikecroft commented on #1062
Fixed by #1151

[2016-10-31 08:37] #1062 closed

[2016-10-31 08:48] jerrinot commented on #1062
so is Payara buildable on JDK 8?

[2016-10-31 09:14] smillidge commented on #1062
yes it's buildable on JDK8 with maven

[2016-10-31 09:17] mikecroft commented on #1065
Hi @coiouhkc how did you get on with Payara Micro?

[2016-10-31 09:28] mikecroft commented on #1096
Hi @NghiaHanoi - has the issue been resolved by @smillidge's suggestion?

[2016-10-31 10:16] mikecroft commented on #1062
Also, if you run `mvn clean install -PQuickBuild -DskipTests` you'll build almost everything you need very quickly. It's really handy for initial builds.

More detail here:
https://github.com/payara/Payara/pull/1073

[2016-10-31 10:17] mikecroft commented on #1087
Hi @anhdv1 - have you tried with the corrected URL?

[2016-10-31 11:55] mikecroft commented on #869
Hi @rajsinhak - does @fturizo's response answer your question? JMS is not supported by Payara Micro, but a JMS client can be written in Java SE if needed. Otherwise, our solution would be to use full Payara Server.

[2016-10-31 12:49] fisherab opened #1160 "Could not find an implementation of ClassAnalyzer with name CdiInjecteeSkippingClassAnalyzer"
# Could not create stateless EJB #
----------

My code runs correctly on Glassfish 4.0 and on WildFly. It does not work on Glassfish 4.1 so I tried Payara Server and get the same problem. There has been some mention of the problem on the web and the general feeling is that it is a timing issue in Glassfish where an EJB is being used before it is fully initialised. I do have a number of interdepend

[2016-10-31 12:50] mikecroft commented on #1092
I've discussed this with development. It's not a bug, since the change was intentional, but my opinion was that the change brought no real benefit and made usability (arguably) slightly worse.

I've therefore raised this as an enhancement request `PAYARA-1116` to restore original (documented) functionality.

[2016-10-31 13:07] mikecroft commented on #1059
I discussed this with some developers and we're going to close this as "wontfix" at this stage. The reason being that there is no clear definition of how it would work in any way that is different from the current asadmin `disable`/`enable` subcommands.

Personally, I'm not sure how possible it would be to add the feature in a way that would give any noticeable improvement over `disable`/`enable`

[2016-10-31 13:07] #1059 closed

[2016-10-31 13:17] OndrejM commented on #1160
Problem mentioned also here: http://stackoverflow.com/questions/29408162/glassfish-4-1-deploy-fails-could-not-find-an-implementation-of-classanalyser
and here: http://jersey.576304.n2.nabble.com/Erratic-missing-quot-CdiInjecteeSkippingClassAnalyzer-quot-Exceptions-td7583446.html
Not clear though what happens.

[2016-10-31 13:19] OndrejM commented on #1160
Hi @fisherab, this is most probably a bug in GlassFish code. Can you reproduce the problem every time, or it happens only sometimes, randomly?
If you attach a sample application, it would significantly help in chasing this issue and fixing it.

[2016-10-31 14:32] fisherab commented on #1160
Yes it is totally reproducible. I will try and produce a simpler application which exhibits the same problem.

[2016-10-31 18:02] #1085 closed

[2016-10-31 18:21] lprimak commented on #646
@vkalayda I wrote a simple reproducer.  You are right about the @Stateless beans not working correctly.  MDBs do work correctly.  Will try to figure out how to fix the @Stateless bean pool

[2016-11-01 05:55] daisuke-yoshimoto opened #1161 "The maximum number of payara clusters with Hazelcast session persistence."
We are considering adoption of Payara server and would like to know the maximum number of payara clusters with Hazelcast session persistence.
http://blog.payara.fish/payara-server-4.1.151-sneak-preview-hazelcast-session-persistence

Is there a track record about maximum number of Payara server clusters with Hazelcast session persistence?

If inappropriate post, please let me know.

[2016-11-01 06:46] webelcomau commented on #1091
@smillidge Thanks Steve for your investigation. This is just some interim feedback:

I am trying to use jvisualvm to analyse this. The mystery is that whatever it is (that might be causing 'long stop garbage collections) does not happen with Glassfish4.1, but does with GF4.1.1 and Payara Server 4.1.1.163. There is no difference in my web app code, which is to say that if there is a garbage collect

[2016-11-01 06:50] webelcomau commented on #1092
@mikecroft Thanks for your analysis of this. You wrote:

I agree that either the documentation needs to be changed to match the logging behaviour change, or the original functionality should be restored (enhancement request PAYARA-1116), which I prefer, because the filtering out of the java.util.logging.ConsoleHandler is not very intuitive.

[2016-11-01 08:35] mikecroft commented on #1091
Thanks @webelcomau, I'll leave this one here for now until we have a bit more clarity.

[2016-11-01 14:54] vkalayda commented on #646
@lprimak

Hello, MDB do not work correctly too. You can see it in VisualVM, number of instances will be higher than in the configuration.

I will try to provide sample project to reproduce this behaviour on MDB.

[2016-11-01 15:44] lprimak commented on #646
@vkalayda number of instances may be higher, but only one instance is dispatched, concurrently at one time, which I have confirmed numerous times.

[2016-11-01 15:55] lprimak commented on #1161
@daisuke-yoshimoto
Do you mean clusters or instances in a single cluster?

[2016-11-01 16:09] lprimak commented on #646
@vkalayda here is the project I am working with, so we are on the same page: https://github.com/flowlogix/Payara-ejbpool

[2016-11-01 21:02] lprimak commented on #646
@vkalayda Indeed the pool functionality works exactly as you described in the initial comment on this issue, which was a surprise to me.  I also thought for years that the number of beans in the pool governed the maximum concurrent request that is processed by the server.

For MDBs, however, this is governed by the JMSRA implementation (and not the pooling code)
so the MDBs work correctly, limitin

[2016-11-01 23:11] daisuke-yoshimoto commented on #1161
@lprimak
Thank you for your reply.
We mean many instances in a single cluster.

[2016-11-02 00:42] lprimak commented on #1161
I don't have anything documented, but as far as I know it would be limited by Hazelcast itself, i.e. no limit

[2016-11-02 01:57] webelcomau commented on #1091
@smillidge Steve and @mikecroft Mike.

I have resumed active investigation of this because I have discovered that JRebel won't work  (prevents deployment of) my main web app when run with my "fallback" server Glassfish4.1 (as from NetBeans8.1beta, but run from NetBeans8.1) when I perform a full web app database model deployment.

So I have to get my deployment working reasonably with Payara41 (or

[2016-11-02 03:49] daisuke-yoshimoto commented on #1161
@lprimak
Thank you for the information.

We are looking for the rough indication or the introduction example, not the rigorous and exact information.
And, we are considering adoption of Payara server with Hazelcast session persistence, not other application server with Hazelcast session persistence.

[2016-11-02 05:47] webelcomau commented on #1091
@smillidge @mikecroft  I tried reorganising the database population on deploy to not use PersistenceContextType.EXTENDED, the result is the same, massively longer deployment on Payara41 (or Glassfish4.1.1) than on Glassfish4.1.

It still has very large project build (lots of entity creation and wiring) within a transaction and no explicit interim flush() or clear() at any stage. Not sure if that c

[2016-11-02 08:17] smillidge commented on #1091
Max hwap size for the two servers is different. Try raising the configured max heap size on Payara to the same as on GlassFish.

[2016-11-02 10:09] mikecroft commented on #1091
You could also tune it a little by pinning your Xms (min heap) to the same value as your max heap (`-Xms2g -Xmx2g`) or to at least a minimum of 1250MB. The spikes of GC activity are your heap resizing itself, so you can save a lot of that CPU by giving your JVM all the heap it needs right away.

[2016-11-02 11:44] webelcomau commented on #1091
@smillidge wrote:

@mikecroft wrote:

Thanks both of you, **that was it** !  Without JRebel running,  successfully deployed in 115,951 milliseconds, with JRebel running,  successfully deployed in 140,881 milliseconds (so about 2mins).

I already had these as run-time VMargs for the NetBeans web app project:

`-Xms2048m -Xmx2048m `

But on installing NetBeans8.1 (with Glassfish4.1.1), and then Paya

[2016-11-02 11:44] #1091 closed

[2016-11-02 11:45] mikecroft commented on #1091
Happy to help :)

[2016-11-02 12:03] OndrejM commented on #1161
As @lprimak says, Payara Server does not impose any limit and there's no explicit limit by Hazelcast either. The only factor is that with too many nodes in the cluster, the performance of the distributed session degrades, as the nodes communicate with each other. But Hazelcast team claim that there's very little degradation even with 100+ nodes in the cluster.

[2016-11-02 12:29] daisuke-yoshimoto commented on #1161
@OndrejM
Thank you for the information.
We understood very well and will consider Hazelcast's degradation in the load test.

[2016-11-02 12:29] #1161 closed

[2016-11-02 12:49] OndrejM commented on #1161
@daisuke-yoshimoto, we haven't done any performance testing ourselves. If you can, we would be very grateful if you inform us about your findings.

Hazelcast provides various options to configure the cluster. One of them is to turn some nodes into lite nodes, which is also [supported by Payara Server](http://blog.payara.fish/payara-server-lite-nodes) Such nodes would not store the data but always

[2016-11-02 13:02] mikecroft commented on #1127
I don't really know how Arquillian works, but I know that Payara Micro has Hazelcast enabled by default. @mulderbaba do you know if it's possible to use Payara Micro with Arquillian?

[2016-11-02 13:05] mulderbaba commented on #1127
no it's not @mikecroft, arquillian is tightly integrated with glassfish-embedded, hence the payara-embedded.
@jerrinot maybe we should implement an arquillian extension for configuring hazelcast and have it integrated with payara-embedded. it's too much domain.xml in your commit :) we should get it simplified somehow.

[2016-11-02 13:10] mikecroft commented on #1105
Hi @comul, can you share your reproducer app please?

[2016-11-03 01:36] daisuke-yoshimoto commented on #1161
@OndrejM

Thank you very mach for telling us the turning point of Hazelcast.

[2016-11-03 02:34] webelcomau opened #1162 "On restart: javax.management.JMRuntimeException: Failed to load MBeanServerBuilder class"
_[EDIT: I think I've already found the cause. It seems to happen when restarting Payara when JVisualVM is already running, and was attached to a previous Payara server execution. It might not be a Payara problem at all]_

# Description #
----------

On restart (with or without osgi cache clear) get error:

`Severe:   javax.management.JMRuntimeException: Failed to load MBeanServerBuilder class com.

[2016-11-03 06:43] chrjohn commented on #1162
We also have these kinds of errors when we try to connect via JMX to Payara while it is starting.

[2016-11-03 15:42] fisherab commented on #1160
While trying to build this simple example to show up the bug. I found that our setup script for glassfish servers includes:

`asadmin set configs.config.server-config.cdi-service.enable-implicit-cdi=false`

This line was inserted in the script some years ago to fix some other problem which nobody now remembers. Removing this line allows us to run with payara41, glassfish 4.1.1 and glassfish 4.0.

[2016-11-03 21:26] lprimak commented on #646
With PR #1163 ```max-wait-time-in-millis``` has been de-deprecated.
As you said, @vkalayda, if its specified and zero, the container will wait for the next instance indefinitely, and otherwise specifies the time to wait for the resource.

This affects maximum concurrent requests, not total number of beans allocated.

[2016-11-03 21:28] lprimak commented on #646
I updated https://github.com/flowlogix/Payara-ejbpool to demo the issue

[2016-11-03 21:36] lprimak commented on #646
```<max-pool-size>``` controls maximum number of concurrent requests
```<max-wait-time-in-millis>``` has been de-deprecated:
- -1 (default): current behavior is unchanged, unlimited instances can be created, configured amount is cached/pooled
- 0: new behaviour - wait indefinitely for resource to be acquired, only configured amount of beans may be concurrently executed
- 1+: (milliseconds) max wai

[2016-11-04 03:40] danilomagrini commented on #914
I am using Payara 4.1.1.163 and this error persist.

[code]

glassfish-resources.xml
[code]

[2016-11-04 06:59] smillidge commented on #914
Try validation-classname not validation-class-name

[2016-11-07 10:27] bozic opened #1165 "ActiveMQ RAR adapter on cluster enviroment"
# Description #
----------

When trying to configure ActiveMQ RAR adapter on Payara cluster, we can't configure RA adapter that is deployed only on cluster. Every time we try to open configuration screen on admin console we get the error that ```ActiveMQActivationSpec``` class can't be found. We checked the source code of RAR adapter and class is indeed in RAR so there must be some class loading i

[2016-11-07 10:42] phillip-kruger commented on #1104
Hi Mike.
Did the **<class-loader delegate="true"/>** part of the glassfish-web.xml work ?
Thanks

[2016-11-07 14:48] antivalenz opened #1166 "java.lang.ClassNotFoundException: org.apache.commons.logging.LogFactory not found by org.glassfish.metro.webservices-osgi"
# Description #
----------

Hi!

* I am running an ear-application with a jaxws-based service in a clustered instances setup.
* As soon as the aforementioned service is called, i am getting the stacktrace attached as a plaintext file.
* I am getting this error in the SOAP message handler scope, not the service implementation itself.
* As soon as i copy a jar (e.g. pax-logging-api-1.8.5.jar) contai

[2016-11-08 09:42] ratcashdev commented on #1047
"The simplest way to run your Java application in production."
I like the idea, although IMHO it would take more just an integration with letsencrypt. The wireframe should also include options to:
- adding the header: Strict-Transport-Security:max-age with a sane default value
- force Perfect Forward secrecy by pre-selecting (or disabling) the necessary cipher suites

While we're at it, if on-the-

[2016-11-08 09:53] andreasernst commented on #585
@lprimak my domains are working properly. The admin web console is not working any more.

[2016-11-08 13:59] lprimak commented on #585
What does it mean "not working"
Do you have any error messages in the logs?

[2016-11-08 14:21] andreasernst commented on #585
[2016-11-04T15:33:18.910+0100] [Payara 4.1] [SEVERE] [] [org.apache.jasper.servlet.JspServlet] [tid: _ThreadID=43 _ThreadName=admin-thread-pool(5)] [timeMillis: 1478269998910] [levelValue: 1000] [[
  PWC6117: File "null" not found]]

You can not use the admin web gui on port 4848. The error message you see in the browser, i don't not right now. With Payara41.163.

[2016-11-08 18:02] lprimak commented on #585
There is something else going on with your domain.
Can you create a fresh one?

[2016-11-09 09:07] sorinpopa82 opened #1169 "after redeploy ClassCastException __EJB31_Generated__EjbBooks__Intf____Bean__ cannot be cast to EjbBooks during JNDI lookup for EJB from Hazelcast MapLoader implementation"
# Description #
----------
Our application (.war) implements Hazelcast map loaders which perform JNDI lookups `new InitialContext().lookup("java:module/" + SomeEjb.class.getSimpleName())` to inject different EJBs (everything is packed inside our .war).
The map loaders work fine at first deployment or after a server stop/start. However, after each redeployment of the application, the map loaders fa

[2016-11-09 09:18] andreasernst commented on #585
No, my Domains are all working, as expected. Only the admin web interface is crashed.

[2016-11-09 09:24] smillidge commented on #585
Is this on windows with a pre-release build?

[2016-11-09 09:36] andreasernst commented on #585
Client is macOS 10.12.1, latest Firefox, Server is openSUSE 13.1, latest Oracle JDK

[2016-11-09 09:48] smillidge commented on #585
OK not related then there is a known issue in some of the pre-release builds whereby the admin console will not display on windows in certain conditions. It's not in any of the released versions.

[2016-11-09 09:53] andreasernst commented on #585
Hhmm, this error is in Payara Server 4.1.1.154 and  Payara Server 4.1.1.163.

[2016-11-09 09:55] smillidge commented on #1169
The symptoms look like a Classloader leak.

As you are bootstrapping Hazelcast from within your web app, Hazelcast spawns threads which will inherit the Thread Context Class Loader which will be your previous web app classloader after redeploy. If you want to bootstrap Hazelcast from within your application to prevent classloader leaks you need to set the thread context classloader during boot to

[2016-11-09 10:18] sorinpopa82 commented on #1169
Enabling Hz instance in Payara and using that in the sample app works as expected after redeployments. (I've  just tried it on Payara 163 Full).
This is acceptable as a workaround for now.
However, we would like to be able to choose whether to use Hz within Payara or a different one.

[2016-11-09 12:12] sorinpopa82 commented on #1169
When using the Hazelcast instance within Payara from our application (not the sample app), we consistently experience the following exception after redeployments:
[code]
I will try to narrow it down somehow, or try to reproduce it with a modified sample app.

[2016-11-09 15:59] lprimak commented on #585
Perhaps you should still create a brand new domain, and see if the admin console error still exists.

[2016-11-10 08:13] vasouv opened #1170 "Microservices with Payara Micro - proper deployment c:Question"
Greetings! I'm trying to understand Payara Micro and microservices a bit, without jumping to Docker yet. All of my testing is done on my laptop.

I deploy my two microservices like you would with Payara Micro in a Docker container:
`java -jar backend.jar --deploy apollo.war --port 8383`
`java -jar backend.jar --deploy artemis.war --port 8484`

Now let's say I want to start another Apollo and Artem

[2016-11-10 11:25] stePrime opened #1171 "Session replication"
Session replication doesn' t work on all nodes

I created a simple cluster with 3 nodes on LAN
The host names of the nodes have been renamed as "n1.test.com","n2.test.com","n3.test.com"
I enabled Hazelcast on the cluster config and i selected "Hazelcast" as persistence type on the Web container Availability tab.
  In the application :
- the tag distributable has been added in the web.xml
- cookie

[2016-11-10 13:41] OndrejM commented on #1170
@vasouv, it depends on what you are trying to achieve. If you expect automatically load balance your requests, this is not supported. You still need to put a load balancer, like HaProxy, to route the requests to multiple payara micro instances, so that you may access your service by a unified URL. The cluster helps you with distribution of session or cached data accross all instances.

Please, des

[2016-11-10 18:28] mikecroft commented on #1171
Have you confirmed that the nodes are definitely clustering together? You should see Hazelcast cluster member information in the logs. It sounds like n3 is simply not joining the cluster, hence it has no knowledge of the session and creates you a new one. Could you attach some of your network configuration and how you have configured Hazelcast beyond the default? (if at all)

[2016-11-10 20:23] lprimak commented on #1171
Is this an Ajax application by any chance?

[2016-11-11 09:05] vasouv commented on #1170
@OndrejM actually you've covered me :) I wasn't trying to achieve anything specific, just understand how microservices and scaling work in a simple way.

You verified that I launch the other instances correctly on the same cluster, that's already enough for me. And since you said I need a load balancer to route to the other instances, you've given me my answer :)

[2016-11-11 15:33] OndrejM commented on #1170
That was simpler than I expected then :)

If you want to turn on session replication, just make sure your applications have `<distributable/>` element in their `web.xml`. Otherwise you would want to configure sticky sessions, so that the load balancer will route the same user always to the same instance.

[2016-11-11 16:26] stePrime commented on #1171
About network configuration we use static ip and in hosts file i added ip address and hostname of each nodes. that's it.
The application use JSF but doesn't use Ajax, it shows only the SessionID on the index.xhtml.

My web.xml file :

`<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:s

[2016-11-11 19:16] mikecroft commented on #1171
Hazelcast clustering works differently to the clustering methods in the admin console. You don't need to create a cluster like that, standalone instances work fine.

What has happened is that Shoal is clustering your 3 instances, and the message you've screenshotted from the logs is a GMS cluster message, which is a Shoal component and nothing to do with Hazelcast.

I suspect that there is still s

[2016-11-12 02:40] fregatte opened #1176 "Negative values for countopenconnections"
Hello.
I have an old problem that is described in the glassfish's bugtracker :
https://java.net/jira/browse/GLASSFISH-16843
I have exactly the same problem, but I use Payara Server 4.1.1.161 #badassfish (build 62).
I get the same result: negative values in line "count" on monitoring URL https://payara:4848/monitoring/domain/server/http-service/server/request/countopenconnections
Now, I have "-80"

[2016-11-12 12:18] OndrejM commented on #1171
As @mikecroft explained, you seem to have configured clustering the old way using "cluster" configuration. With Hazelcast, the clustering in Payara Server is configured in a different way. Instead of a "cluster", you need to setup standalone instances based on the same copy of configuration and turn on Hazelcast. This [blog post about hazelcast clustering](http://blog.payara.fish/creating-a-simple

[2016-11-12 22:17] mulderbaba commented on #1176
@fregatte I could reproduce this only by invoking
`./asadmin get -m server.http-service.__asadmin.request.countopenconnections-count`
invoking `./asadmin get -m server.http-service.server.request.countopenconnections-count` results with 0 for me.

[2016-11-12 22:53] mulderbaba commented on #1176
Created internal issue PAYARA-1188

[2016-11-13 12:07] mulderbaba commented on #1166
@antivalenz we reverted #545 since introducing pax-logging revealed more class loading problems than we thought. The applications that were already bundled with SL4J couldn't use our Payara release properly back at the time. So beware that introducing pax-logging could cause the same problems for you.

The reason behind the NoClassDefFoundError was: metro was using xmlsec classes and bundling them

[2016-11-13 14:03] mulderbaba commented on #1158
@douglasjunior it's the other way around, they are using @Singleton instead of @Dependent. I created a [JIRA issue](https://issues.apache.org/jira/browse/JCLOUDS-1193) for them, no response yet.

[2016-11-13 15:26] douglasjunior commented on #1158
I thought of reporting too but as it works on other servers I figured it would not bug in jclouds.

Thanks again for your attention, it will be very good to be able to use Payara with jclouds.

[2016-11-15 08:58] mikecroft commented on #1087
Closing this as resolved. Please reopen if there's still a problem after making the change.

[2016-11-15 08:58] #1087 closed

[2016-11-15 08:59] mikecroft commented on #869
Assuming this is resolved now. Please reopen if not.

[2016-11-15 08:59] #869 closed

[2016-11-15 09:02] mikecroft commented on #1088
Hi @ayedo does @OndrejM's solution resolve your problem?

[2016-11-15 09:03] mikecroft commented on #1065
Assuming this is resolved by using Payara Micro. If not, please reopen with more details.

[2016-11-15 09:03] #1065 closed

[2016-11-15 12:38] dorpsidioot commented on #1143
Coming back to this after I've done some tests with 4.1.164 release and the results are still the same, if you curl with just gzip, deflate then compression works as it should. However most browsers add more stuff to this header and then it stops working completely, which is quite annoying to say the least, means that almost all modern browsers which add sdch and others make it so this will stop w

[2016-11-15 20:50] ayedo commented on #1088
Yes, thank you very much!

On Tue, Nov 15, 2016, at 10:02 AM, Mike Croft wrote:

Links:

  1. https://github.com/ayedo
  2. https://github.com/OndrejM
  3. https://github.com/payara/Payara/issues/1088#issuecomment-260585131
  4. https://github.com/notifications/unsubscribe-auth/AEhSlmNMM_YXM3yRKBBeMxtdfp-ZnMCLks5q-XU_gaJpZM4J6Xyt

[2016-11-15 21:37] #1088 closed

[2016-11-16 05:51] ross211 opened #1182 "Unable to deploy activemq-rar resource under Payara 4.1.1.164"
ActiveMQ-RAR is no longer starting properly after moving to Payara 4.1.1.164.

## Steps to reproduce

asadmin create-domain test
asadmin start-domain
asadmin deploy --type rar --name activemq-rar activemq-rar-5.14.1.rar
asadmin create-resource-adapter-config activemq-rar
asadmin stop-domain
asadmin start-domain

View server.log:
[code]

## Environment ##

- **Payara Version**: 4.1.1.164
- **Editio

[2016-11-16 08:55] mikecroft commented on #1182
Confirmed the bug in `164` and that it's not present in `163`. I created internal issue `PAYARA-1195` to track this.

[2016-11-16 15:18] mikecroft commented on #150
`PAYARA-1196`

[2016-11-16 15:45] mikecroft commented on #936
Confirmed in 164; created internal issue `PAYARA-1197`

[2016-11-16 15:48] mikecroft commented on #1001
Covered by internal issues `PAYARA-1153` (enable the ability to turn on Weld dev mode + probe tool) and `PAYARA-1154` (admin console integration)

[2016-11-16 16:10] mikecroft commented on #909
Sorry, this one seems to have fallen down the cracks. It's my understanding that your assumptions here are correct; Payara will not interrupt threads on application undeploy and that message is indeed informational only.

@smillidge can you confirm?

[2016-11-16 17:17] smillidge commented on #909
It is not possible to stop a thread processing in Java. It may be possible to interrupt the thread but the application would need to be able to handle the interrupt, if it is in the middle of processing interrupting it won't make any difference.

[2016-11-17 03:48] jinahya opened #1184 "JSON wrongly serialise long long values"
# Description #
----------

Payara generates wrong value for JSON, not XML.

## Expected Outcome

[code]
[code]
[code]

## Current Outcome

[code]

## Steps to reproduce (Only for bug reports)

## Context (Optional)

## Environment ##

- **Payara Version**:  4.1.1.163 #badassfish (build 215)
- **Edition**: Full
- **JDK Version**: 8 u101 - Oracle
- **Operating System**: Linux / Mac

[2016-11-17 04:04] jinahya commented on #1184
JavaScript has 64-bit double precision floats and doesn't have 64-bit integers.
I, apparently, have to serve those long `long` values as strings.

[code]

[2016-11-17 08:25] mikecroft commented on #1184
What are the steps to reproduce? Do you have a test case we can use?

[2016-11-17 09:08] omarbr opened #1185 "payara 4.1.1.164 error when deploy ear : LinkageError: loader constraint violation: when resolving overridden method "org.apache.xerces.jaxp.SAXParserImpl.getXMLReader()Lorg/xml/sax/XMLReader;""
When deploy ear on 4.1.1.164:
[code]

work on 4.1.1.163 and 4.1.152

[2016-11-17 09:09] mikecroft commented on #1185
What are the steps to reproduce? Is this with any EAR? Do you have a test case which shows the issue?

[2016-11-17 10:38] mikecroft commented on #1127
Created enhancement request `PAYARA-1198`. I'll close this issue now, because there's a workaround of using the domain.xml.

[2016-11-17 10:38] #1127 closed

[2016-11-17 10:51] mikecroft commented on #368
The latest version of Payara packages a patched EclipseLink 2.6.3 which should resolve this according to previous comments. Please reopen with details if not.

[2016-11-17 10:51] #368 closed

[2016-11-17 13:37] mikecroft commented on #164
Created internal issue `PAYARA-1199` for the enhancement

[2016-11-17 14:04] mikecroft commented on #900
Confirmed the bug and created `PAYARA-1200`

[2016-11-17 14:27] michaelpaesold commented on #909
Actually, I think it's not a bad idea to interrupt the threads, it might help in some situations, especially if this is a documented behaviour.

The deprecation note to `Thread.stop()` actually says that one should use some variable to indicate that a thread should stop it's work, and `Thread.interrupt()` should be used to wake up waiting threads.

On a quick look I didn't find anything, but is th

[2016-11-17 14:38] chrjohn commented on #909
IMHO the thread should run in a while loop like this:
`while (!Thread.interrupted()) {
...
}`

In http://download.oracle.com/otn-pub/jcp/concurrency-1_0-fr-spec/EE-Concurrency-Utilities-1.0-fr.pdf section 3.4.4 it says

stopped or when the application server is shutting down, all threads that it has created using the
newThread() method are interrupted.

[2016-11-17 15:13] stePrime commented on #1171
Hi Team,

Thanks a lot  for the support.

I also tried to create cluster as standalone instances  but the result was the same.
As usual in these cases the problem was a stupid thing: n3 time was not synchronized with other nodes and this was causing invalidation of the session.
Sorry for my oversight.

But the problem come back when I added Primefaces (library for JSF) tag in the page, hence somet

[2016-11-17 15:15] mikecroft commented on #1171
Interesting. Are there any relevant log messages?

[2016-11-17 15:42] stePrime commented on #1171
No, nothing relevant log messages.

If it would help you, I add this code in web.xml to fix a ViewExpiredException ("ERROR: MAC did not verify!") in cluster environment:

`<env-entry>
        <env-entry-name>jsf/ClientSideSecretKey</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>OaHMhbhnoH7qZYA/AmGEBg==</env-entry-value>
    </env-entry>`

[2016-11-17 16:21] omarbr commented on #1185
I identify a steps to reproduce:
add
[code]
on pom

[2016-11-17 16:22] mikecroft commented on #1141
I think the likely explanation here is that the monitoring is not working as expected. I know @Pandrex247 has done quite a bit of work with various monitoring statistics which give incorrect/unexpected values. Sometimes it's due to an error, sometimes it's working as designed, but the attribute is very confusingly named. There is also the issue #1176 which is for a similar problem of odd values re

[2016-11-17 17:43] lprimak commented on #1185
I believe I've encountered this problem in the past.
The issue is the services/ directory in the xercesImpl that conflicts with the one bundled in Payara.  I would suggest re-jarring the file without the services/ directory.

You can currently try with the following in your pom.xml:

[code]

[2016-11-17 17:45] lprimak commented on #1171
Just FYI, I have never had success with the following:
[code]
in the past.

I would suggest you stick with server based saved sessions.
This may also solver your issue

[2016-11-17 18:02] stePrime commented on #1171
@lprimak, I tried it ma does not work. The session change frequently.

[2016-11-17 18:51] lprimak commented on #1171
Have you, by any chance deploying the app itself without availability enabled?
i.e. you need to use
```asadmin deploy --availabilityenabled```

Also, make sure you have this:
[code]

as described here:
http://blog.payara.fish/payara-server-rolling-upgrades

[2016-11-18 08:30] mikecroft commented on #1182
Fixed by #1183

[2016-11-18 08:50] tfal opened #1186 "Problem with compressed JAX-RS requests (Payara 4.1.1.164)"
# Description #
----------

Jersey EncodingFilter does not work in Payara 4.1.1.164 (the same requests works fine under Payara 4.1.1.163).

## Current Outcome

The following exception occures when sending compressed POST request (http header ContentEncoding: gzip) to our REST service:

ExceptionMessage: Not in GZIP format
at java.util.zip.GZIPInputStream.readHeader(GZIPInputStream.java:165)
at jav

[2016-11-18 08:53] mikecroft commented on #1186
Can you give some more details on the actual problem? What is the code that is failing? How can we reproduce the issue? Do you have an example you can show us?

[2016-11-18 09:12] andreasernst commented on #585
On production server, this does not make sense. Restarting Payara is much faster.

[2016-11-18 09:26] mikecroft commented on #1171
You can also turn on availability with a checkbox when you deploy through the admin console. Note that this is **not** enabled by default.

[2016-11-18 09:52] tfal commented on #1186
Simple JAX-RS project:
[compressionTest.zip](https://github.com/payara/Payara/files/599566/compressionTest.zip)

JMeter config file to reproduce error:
[compressionTestJMeter.zip](https://github.com/payara/Payara/files/599570/compressionTestJMeter.zip)

[2016-11-18 13:29] stePrime commented on #1171
Availability was enabled.
I add "relaxCacheVersionSemantics" property in glassfish-web.xml and it seems to work fine.

Next step is to add WebSockets.

Thanks a lot for the support.

[2016-11-18 16:09] lprimak commented on #1171
Fantastic.  Can we close this issue?  I think we should open one to get relaxCacheVersionSemantics to be enabed by default

[2016-11-18 16:10] lprimak commented on #585
I don't mean every time.  I mean just this once.  I think something has corrupted your domain.

[2016-11-18 17:02] #646 closed

[2016-11-19 00:42] kahlon1005 opened #1188 "Payara removes the context root from glassfish-web xml"
# Description #
----------
When running or debuging application using Netbeans, the root context tag is getting removed from glassfish-web.xml. This issue is not replicated using glassfish 4.1.1

## Expected Outcome
The glassfish-web.xml shall not be modified and this shall result application named say sample shall open on browser from root context
http:localhost:8080/index.xhtml

## Current Outco

[2016-11-19 01:13] kahlon1005 opened #1189 "Migration from glassfish 4.0 to Glassfish 4.1.1 - JDBC Realm issue"
# Description #
----------
I have this security configuration in Glassfish domain.xml which works for 4.0 but fail in 4.1.1 can someone help to identify what is wrong. The only difference is the class package "ee"

GF 4.0 (with extra ee)

[code]

GF 4.1.1

[code]

insert into (username, password, rolename) v_user_role('test', 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'Administrator');

passw

[2016-11-19 08:13] rds76 commented on #1141
Below are my settings for http keep-alive. I could understand some unacurate monitoring values, but that looks like a) missconfigured/non-working keep-alive b) non-working monitoring for keep-alive
As you can see, there are no monitor values at all, so I cannot check it works.
[code]

[2016-11-19 10:25] jinahya commented on #1184
Sorry, as you might already know, it seems not a Payara's problem.

[2016-11-19 10:25] #1184 closed

[2016-11-19 17:15] matthiasblaesing commented on #1186
A lead might be, that compression content-encoding headers were disabled until grizzly 2.3.28. I asume this is what happens:

- the grizzly input CompressionEncodingFilter now decodes the incoming stream (so far, so correct)
- the Filter leaves the headers untouched and this causes the jersey filter to kick in and tries to decode the stream again

I try to get familiar with the grizzly code base,

[2016-11-19 17:17] phillip-kruger opened #1191 "Get port in runtime via code"
Hi all. This is not a issue or bug, but rather a question. Apologies if this is not the place to ask questions.

I am looking for a way to get the port number that the server is running on via code. I am using payara micro, and either using --autoBindHttp or passing the port as a startup parameter, is there any way that I can get the port via code ? Maybe a jndi lookup or something ?
Any help or t

[2016-11-19 17:30] smillidge commented on #1191
There's a number of ways but the code below should do it in 164.
Note the api around this code is moving a little.
[code]

You can also find the ports etc of all other micro instances in the cluster using;
[code]

[2016-11-19 18:13] phillip-kruger commented on #1191
Thanks! This was exactly what I was looking for. Thanks for the prompt reply!

[2016-11-19 21:07] hrotkogabor opened #1193 "'Application Name' with space or accent marked character"
# Description #
----------
When I deploy a war application, and the 'Application Name' contains space or accent marked characters, the deployment will fail, with this short message in the server log:
[Payara 4.1] [INFO] [] [org.glassfish.admingui] [tid: _ThreadID=43 _ThreadName=admin-thread-pool(1)] [timeMillis: 1479587901524] [levelValue: 800] [[
  Exception Occurred :Error occurred during deploy

[2016-11-20 21:38] matthiasblaesing commented on #1186
I raised https://java.net/jira/browse/GRIZZLY-1875 and added a proposed patch. Tests/comments would be appreciated. I ran a grizzly build and replaced the class in the `nucleus-grizzly-all.jar` and the supplied test works with that.

[2016-11-21 07:33] phillip-kruger opened #1195 "Payara Micro logToFile and logProperties"
Hi all.
I am using Payara Micro (Uber jar). I am passing the filename of the log file that I want to use via --logToFile.

I am also trying to change the log levels for my packages, and are using --logProperties to pass in my level (via logging.properties), however if I do that it does not create my log file anymore (as defined in --logToFile)

Any tips ? Thanks.

[2016-11-21 08:18] omarbr commented on #1185
with 2.11.0-no-services work, but it's possible fix this for use standard xerces jar?

[2016-11-21 11:08] #1182 closed

[2016-11-21 15:33] smillidge commented on #1195
logProperties takes precedence over the logToFile. You will have to add a file logger into your logging.properties.

[2016-11-21 16:00] phillip-kruger commented on #1195
OK cool, So I omit the --logToFile and in --logProperties add the following:
[code]
Where myServer.log is what I would have passed in --logToFile.

Something like that ?
Thanks for the reply !
:)

[2016-11-21 16:07] phillip-kruger commented on #666
Anyway to do this in Payara Micro ? (Without having to externalize the server.xml)
Thanks

[2016-11-21 16:08] smillidge commented on #1195
An example used in Payara Micro is
[code]

[2016-11-21 16:11] mikecroft commented on #666
Probably the best way would be to use the `--rootDir` option to output the domain.xml, make the change there, then run Payara Micro again with `--outputUberJar` to bake in your modified domain.xml.

We're currently looking at the way all this works at a fundamental level so that we can make all this kind of stuff easier, but we don't have any kind of timescale on that at the moment because it's a

[2016-11-21 16:19] phillip-kruger commented on #1195
Awesome !! Thanks very much ! Love the quick response :)

[2016-11-21 16:19] #1195 closed

[2016-11-21 16:20] smillidge commented on #666
If you are using the programmatic api to boot Payara Micro you can also run the asadmin command listed above as part of your bootstrap of Payara Micro. As @mikecroft says we are redoing a lot of this packaging and in the future will allow the user to pass a pre-boot and post-boot set of asadmin commands to run.

[2016-11-21 16:28] phillip-kruger commented on #666
Again - thanks for the quick response !
I am not starting payara micro with the programmatic api, so will do as @mikecroft suggest. I am creating an uber jar in maven, so should be simple enough to pass the domain.xml in. (This might be something I need anyways as system gets feature rich)
Thanks !

[2016-11-21 16:31] #1171 closed

[2016-11-21 17:58] lprimak commented on #1185
Not sure.  I suspect it would take some doing

[2016-11-22 06:55] jmegha27 opened #1197 "pooling of External JNDI Resources of payara"
# Description #
Hi

How to do the connection pooling of external JNDI resources in payara server
does it come under ejb pooling?
can we do it as we do the settings for jdbc connection pooling?

# Environment #

- Payara Version: 4.1.1.x
- JDK Version: 8
- Operating System: Windows

[2016-11-22 11:28] stePrime opened #1198 "WebSockets with Hazelcast Cluster"
Hi Team,

I implemented a cluster with 3 Nodes (A, B & C) as Standalone Instances.
I use HAproxy as load balancer and everything works fine.

I added WebSockets in my project and HAProxy switches automatically from HTTP to tunnel mode when the client request a websocket.

My problem is this :
I need to retrieve websocket session regardless of connected node. For example:
"I have 3 users connected

[2016-11-23 12:06] dorpsidioot commented on #1112
In 164 the timer store can now be safely changed to Hazelcast it seems, according to https://payara.gitbooks.io/payara-server/content/documentation/extended-documentation/alternate-store-for-ejb-timers.html. Is this store supposed to fire the timers on all the cluster members or on just one?

[2016-11-23 14:05] mikecroft commented on #1112
@dorpsidioot looks like we released that part of the documentation early! It should be pre-release only, not part of the released stuff. I'll see what I can do about correcting it

[2016-11-23 14:48] edilmar opened #1201 "Plugin to analize/make statistics of webapp using (actual and historical)"
Hi,

I would like to know if there is something like this, or ideas for the future, to include a plugin to analize:
1) Actual users using the webapp at this moment (like browser users that communicated to the server in the last few seconds)
2) Reports/statistics/graphs to see: users, IPs, browsers, etc that acessed the webapp in a period of time (last hours, days, months, etc), where it would be p

[2016-11-23 15:04] pdudits commented on #1112
In my experience, there are practical limits what Hazelcast based store can provide to you, as the TimerService API is not designed with distributed systems in mind.

In our project we rolled our own timer coordination (before this store existed), by creating an EJB interceptor. We wanted to have "hot standby" node, so we needed to have all timers on all nodes (but actually run it on currently act

[2016-11-23 16:05] Mephysto666 opened #1202 "Payara 164, javax.naming.NamingException"
Hi there,
after migration from payara 161 to 164, my application gets an error during startup. This is the exception message:

`javax.naming.NamingException: Lookup failed for 'java:global/RedevoServer-ejb/MatchListsCleaner!it.redevogames.redevoserver.classes.timers.MatchListsCleaner' in SerialContext[myEnv={java.naming.factory.initial=com.sun.enterprise.naming.impl.SerialInitContextFactory, org.o

[2016-11-23 16:20] stePrime opened #1203 "JCache Listener with Payara Cluster"
# Description #

Hi Team,

I have a Cluster as Standalone Instances. I added JCache in my project to share websockets messages among the nodes. I want store in the Cache a simple Custom Object called Cluster Object.

`

     public class ClusterObject implements Serializable {

         String nameNode;
         String message;

        public ClusterObject(String nameNode, String message) {

[2016-11-23 19:57] lprimak commented on #1201
Would google analytics fit your bill?

[2016-11-24 17:27] edilmar commented on #1201
@lprimak no because I have a system with complex security to acess internal pages (page1, page2, etc). Google just gets access to index.

[2016-11-24 21:00] lprimak commented on #1201
@edilmar I have developed numerous web sites with google analytics that had secure pages counted there.  I would suggest another look, as it works with all types of secure pages.  They have a script that you can put on any page that will make it participate in google analytics.  This is the most advanced tool that I know for this kind of stuff.

[2016-11-25 00:27] UlrichCech opened #1204 "Strange problem with Payara/Glassfish and MongoDB-Atlas"
# Description #
----------
If I want to connect to the cloud-solution of MongoDB (MongoDB-Atlas), then I get the exception (see below). In a normal JUnit-test, this code works perfect. And even if executed in Wildfly, this works as expected, but not in Payara/Glassfish (tested with Glassfish 4.1, Payara 163, 164).

I had the ROOT CAs in mind, because if you debug it with Payara and Wildfly, you se

[2016-11-25 09:30] pdudits commented on #1204
Try `asadmin delete-jvm-options "-Dcom.sun.enterprise.security.httpsOutboundKeyAlias=s1as"`, that removes default outgoing client certificate sent out by SSL factory.

This startup option burned me so many times already, I think it should be removed from default configuration.

[2016-11-25 10:13] UlrichCech commented on #1204
Man, you are the MASTER!!! Great, it works with this option, thank you very much!

[2016-11-25 10:31] stePrime commented on #1203
I tried to share websockets message by Hazelcast executor service. My task implements Runnable & Serializable but when i called executorService.executeOnAllMembers(new MyTask(input)), this throws com.hazelcast.nio.serialization.HazelcastSerializationExcept‌​ion: java.lang.ClassNotFoundException: com.MyTask on the other Nodes. Just, FYI I retrieve Hazelcast Instance in this way :

`

    Context ct

[2016-11-25 10:46] mikecroft commented on #1204
Thanks @pdudits!

We've got an internal task - `PAYARA-1225` - to enhance the payaradomain further, so I've added this to the list of things we should change.

[2016-11-25 10:46] #1204 closed

[2016-11-25 11:33] smillidge commented on #1202
I'm not aware of any changes in this area of the code. When you deployed did it log the EJB name as you would expect?

[2016-11-25 11:51] smillidge commented on #1198
You need to setup some distributed event between the nodes in the cluster. If you are on micro you could use the ClusteredCDIEvents. As you are not on Micro you could use some Payara Specific apis to generate a lightweight event. Or you could use lightweight Hazelcast topic listener.

If you take the Hazelcast api approach you can use code like;

[code]

On the receiver
[code]

Please note I haven

[2016-11-25 11:58] smillidge commented on #1198
Information on ClusteredCDI Events is below. Note: This is only in Micro until the 171 release where it will also be in Full Server. The clustered cdi events capability uses the underlying hazelcast api roughly in the way described.

http://blog.payara.fish/microservice-choreography-with-the-payara-micro-clustered-cdi-event-bus
https://github.com/payara/Payara-Examples/tree/master/Payara-Micro/cdi

[2016-11-25 12:07] smillidge commented on #1203
Problem with these capabilities is classloading. As the Hazelcast operations threads are created at server boot they do not have access to the classloader for the application. The simplest solution is to create a library just for your executors or listeners and add it to the glassfish/lib directory so that these classes are on the server classpath.

We are working on a way to get application modul

[2016-11-25 12:20] thomas-andres opened #1206 "provide non-fatjar maven dependency"
Feature Request:

As far as I can see, you can currently get fat jars (payara-embedded-all, payara-web-all, payara-microprofile) of of payara and a distribution zip. But you can't get a dependency to parts of the server like you can for glassfish like e.g. 'org.glassfish.main.ejb:ejb-container:jar:4.1.1' that contains the ejb-container and also describes the used dependencies.
Having smaller parts

[2016-11-25 13:46] AlphaJuliettOmega opened #1207 "Setting Session-Timeout="0" in Domain.xml makes the front-end inaccessible without anything being logged."
# Description #
----------

I restarted my VM, without changing any Payara settings.
The deployed application was running as expected before the restart, now subsequent reboots or start-domain/stop-domain calls have no effect.

When I try to access the Admin interface at
localhost:4848
Only this line gets printed to the Server.log file:
[code]

and in the browser it displays:
[code]

at port 8181

[2016-11-25 16:12] Mephysto666 commented on #1202
I am sorry. I forgot to close this issue because it's only a false alarm.

Please accept my apologies.

Best regards.

Meph

On 25 Nov 2016 12:33 p.m., "Steve Millidge" <notifications@github.com>
wrote:

[2016-11-25 18:27] #1202 closed

[2016-11-26 10:12] omidshapouri opened #1208 "GRIZZLY0156: Character decoding failed"
In Payara 164, the following error keeps being logged in server saying decoding failed. In payara 163, it was working properly without getting any error like this. I'm really confused, I could not figure out what is wrong, I appreciated if you guys could give me some hints to find out what is wrong.
it is happening for viewstate value as well as posting image datauri (data:image/png;base64,iVBORw0

[2016-11-26 21:45] mulderbaba commented on #1208
@omidshapouri do you have a simple reproducer on this one? Are you mentioning JSF viewstate with the viewstate value?

[2016-11-27 08:52] omidshapouri commented on #1208
@mulderbaba no unfortunately, we have not been able to reproduce the error on local machine.
In production, on load, sometimes we receive that type of errors which we could not figure out what is wrong.
Yes, I mean JSF viewstate.
As we had not have this type of error in payara 163, I guess the error should come from new version of Grizzly (2.3.28) in payara 164.

[2016-11-27 15:28] smillidge commented on #1189
You need to provide more information such as which database you are using and any error messages you receive. You also haven't provided how the web application is configured to use the roles etc. what role mapping you are doing in your glassfish-web.xml

I just set up a jdbcRealm using MySQL as the user database and did not experience a problem. See my file;
[code]

And the web.xml
[code]

The ins

[2016-11-27 15:48] smillidge commented on #1188
Not reproducible

[2016-11-27 22:52] kahlon1005 commented on #1189
Thanks a lot, the problem was I copy-pasted the JDBC resource from glassfish 4.0 to 4.1.1. which failed because when JDBC resource is created from command line or admin console JDBC resource reference is also created, untill which the JDBC is not active.

In order to resolve it I created the JDBC resource from the command line and it worked.

this was missing in domain.xml
<resource-ref ref="jdbc/

[2016-11-27 22:52] #1189 closed

[2016-11-28 07:49] AlphaJuliettOmega commented on #1207
Does this warning mean I have to change any specific settings and is it possibly related to my issue?

[code]

[2016-11-28 08:21] AlphaJuliettOmega commented on #1207
Oh I have found a little more information but I don't know what it means, in Chrome when I first load the page, in Inspector I get this error in the console:

[code]
thrown in the Javascript function
[code]

Reloading the page then switches the page from displaying the 'loading Admin page screen'
[code]
**To:**

the Error 500 page, with this message in the console:
`GET https://guardian.adept.za.n

[2016-11-28 09:54] AlphaJuliettOmega commented on #1207
Hilarious,
If you set this in Domain.xml:

[code]
The Admin Gui is completely inaccessible, a message should be thrown in log saying something like 'Session timed out' or 'Warning, Session timeout is too low'
In some other version of Glassfish setting this to 0 makes the sessions indefinite, in Payara, it breaks it.

[2016-11-28 10:39] mikecroft commented on #1193
Confirmed the bug; I've created internal issue `PAYARA-1234` for this.

[2016-11-28 10:52] mikecroft commented on #1197
Can you give a few more details on your scenario? How are you trying to achieve this and with what?

[2016-11-28 11:09] mikecroft commented on #1207
I just tried this with a completely fresh domain and couldn't reproduce the problem. Setting `session-timeout="0"` works in both Firefox and Chrome.

[2016-11-28 11:34] mikecroft commented on #1188
@kahlon1005 is the `context-root` actually being removed at all, or is it just being **_overridden_**? It would help to see your source code because this doesn't seem to be reproducable with any WAR file.

[2016-11-28 14:07] OndrejM commented on #874
It seems that for some reason, Eclipselink parses the SQL file and executes SQL commands line after line. I don't see a reason why, possibly to avoid loading a huge SQL script into the memory.

A possible workaround would be to use a custom java.io.Reader and supply its class instead of the path to the SQL script. Eclipselink will then instantiate your reader instead of reading a DDL script. In yo

[2016-11-28 15:02] AlphaJuliettOmega commented on #1207
Hmm, I'll check if there's any settings specific to the domain that I had the issue on, I will report back in the next 48 hours

[2016-11-28 18:52] lprimak commented on #874
If you paste the EL JIRA, we can vote for it

[2016-11-29 07:40] MasatoshiTada commented on #864
Sorry, this is my mistake.
https://github.com/MasatoshiTada/servlet-user-principal-sample/commit/40635ee9c7c241ccc16ce5c1d1e2a1b69f69d11c
 I've closed this issue.

[2016-11-29 07:40] #864 closed

[2016-11-29 08:24] vkalayda commented on #874
@OndrejM You are absolutely right.

[2016-11-29 10:10] AlphaJuliettOmega commented on #1207
Here is a diff between the domain that is working again and a fresh domain created with the Asadmin Create-domain command, the diff was done with the linux diff command:
< Signifies the offending domain's Domain.xml

[code]

I have not attempted to reproduce it again yet as it's a project i'm developing that needs to have a few features done by the end of the week, still i'll try get back on it as

[2016-11-29 10:36] mikecroft commented on #1207
Aside from some differences in JDBC configuration which would not be related, I can't see much difference between the two.

I already tried with and without secure admin enabled and tried again just now with the asadmin recorder enabled and disabled and can't get a failure.

It would be interesting to see whether you can consistently reproduce this or not. If you can, then I may need to try to mor

[2016-11-29 13:01] mikecroft commented on #1186
Internal issue ID `PAYARA-1219`

[2016-11-29 14:04] mikecroft commented on #1185
I've created internal issue `PAYARA-1239` for this. We're handling it as an improvement because currently there is an accepted way to get this working and it's not clear how complex this could be.

[2016-11-29 18:21] smillidge commented on #1185
Please remove Xerces from your war file it is extremely old and the same features are provided by modern JDKs. See http://www.odi.ch/weblog/posting.php?posting=689 for a good rant on this issue :-)

[2016-11-29 18:24] #1170 closed

[2016-11-29 18:30] #1185 closed

[2016-11-30 01:25] MasatoshiTada opened #1213 "403 error occurs when Form-Authentication succeeded PAYARA-1244"
# Description #
----------

I created simple Form-Authentication sample (below).
https://github.com/MasatoshiTada/form-authentication-sample
When username and password are valid, 403 error occurs.

## Expected Outcome

When username and password are valid, my sample will show `protected.jsp`.
(About valid username and password, please look .sql file below.)
![2016-11-30 09 48 09](https://cloud.git

[2016-11-30 04:54] kahlon1005 commented on #1188
This was happening on Window 10. But, I had added Payara server again and I am unable to reproduce it there after.

[2016-11-30 04:54] #1188 closed

[2016-11-30 08:54] peraxel opened #1214 "Custom JAAS module not working in 4.1.1.164"
# Description #
----------

I built a custom JAAS module to handle user auth. Worked like a charm in Payara 4.1.1.163, but in 4.1.1.164 it causes start up crash due to ClassCastException.

## Expected Outcome

Expected JAAS module to work as in 4.1.1.163.

## Current Outcome

Causes start up crash with log output as follows. In this case I only added my JAAS module JAR-file to domain/lib and added

[2016-11-30 09:24] OndrejM commented on #1214
I don't think that there was any change in security classes between Payara 163 and 164.

Would you check if the JAR file of the JAAS module contains any of the following classes?
 - `com.sun.enterprise.security.auth.realm.Realm`
 - `com.sun.enterprise.security.auth.realm.file.FileRealm`
 - `com.sun.enterprise.security.auth.realm.certificate.CertificateRealm`

I would also rather build against Glas

[2016-11-30 09:32] mikecroft commented on #989
Internal issue ID to modify the docs: `PYSVC-186`

[2016-11-30 09:47] OndrejM commented on #277
This should be already fixed in Payara Server 4.1.153, it just slipped from the release notes.
Internally, we track this issue as PAYARA-217.

[2016-11-30 09:47] #277 closed

[2016-11-30 10:35] mikecroft commented on #1096
Assuming the suggestion has resolved the issue and closing

[2016-11-30 10:35] #1096 closed

[2016-12-01 15:50] smillidge commented on #1213
This is a known issue the default role mapping security setting is broken in 164. This will be fixed soon.

This has no effect in 164 it is a bug. $PAYARA_HOME/bin/asadmin set server-config.security-service.activate-default-principal-to-role-mapping=true

You can add a role mapping into glassfish-web.xml or add the default role mapping setting as discussed here.
https://payara.gitbooks.io/payara-s

[2016-12-01 16:13] fturizo commented on #1208
@omidshapouri, Can you attach a sample **JSF** page that's causing the view state error with it's respective backing bean? If possible please attach the _web.xml_ and _faces-config.xml_ relevant configuration as well to helps us reproduce the issue.

[2016-12-01 16:43] fturizo commented on #1162
@webelcomau, were you able to found the cause for this issue? Was it related to restarting _JVisualVM_ while the server is running?

[2016-12-01 16:45] fturizo commented on #1137
@jerrinot, is @smillidge suggestion's fine with you? Let us know what do you think.

[2016-12-01 16:57] jerrinot commented on #1137
@fturizo: Hi, I am rather busy nowdays. I don't expect to have time for this before end of the year.

[2016-12-01 20:28] fturizo commented on #1133
@rds76, is this issue still persisting in your environment? If so, can you post the _web.xml_ and _faces-config.xml_ of the applications to see if we can reproduce the issue?

[2016-12-02 01:45] fturizo commented on #1165
Hi @bozic,

I tried to reproduce this bug by following your steps by in my test scenario everything worked out fine. I tested this with the latest **ActiveMQ** RAR connector module (5.14.1). After I created the Hazelcast enabled cluster, I could deploy the RAR module to all of the cluster instances and the _DAS_ without experiencing the classloading exception. Did you remove the default **OpenMQ**

[2016-12-02 06:07] rlubke commented on #1186
Just to be clear, as of Grizzly 2.3.28, gzip decompression is being applied regardless if disabled in the network listener configuration in the domain.xml?

[2016-12-02 08:05] tfal commented on #1186
Domain directory (from Payara 4.1.1.164 downloaded zip):
[domain1.zip](https://github.com/payara/Payara/files/626605/domain1.zip)
JAX-RS project (corrected):
[compressionTest.zip](https://github.com/payara/Payara/files/626606/compressionTest.zip)
JMeter config file to reproduce error:
[compressionTestJM.zip](https://github.com/payara/Payara/files/626607/compressionTestJM.zip)

[2016-12-02 09:08] mikecroft commented on #1213
`PAYARA-1244`

[2016-12-02 09:28] mikecroft commented on #1154
Hi @itservices-trust the fix for this has now been released. Could you test with 164 to see if it works?

[2016-12-02 09:32] mikecroft commented on #1119
Hi @okemaster have you got a reproducer for this?

[2016-12-02 10:14] peraxel commented on #1214
Corrected the scope of the dependencies in pom.xml to 'provided'. That seems to have resolved the issue on 164. The server starts without errors now. Will verify functionality of the JAAS module asap.

[2016-12-02 11:42] MasatoshiTada commented on #1213
Thank you so much!
I added glass fish-web.xml, and I found Form-Authentication succeeded properly.
https://github.com/MasatoshiTada/form-authentication-sample/commit/40ede4f660400713895a1d93f2818fd2f279ca24

[2016-12-02 12:13] peraxel commented on #1214
Works like a charm!
I admit the error was in my JAAS module, but still strange that it did work on 163 but not on 164.
Closing.

[2016-12-02 12:13] #1214 closed

[2016-12-02 14:57] mikecroft commented on #1105
Do you have your reproducer app available @comul ?

[2016-12-02 16:48] fturizo commented on #781
Hello @Mephysto666, we're sorry it took us a while to get back to you again with this issue. Is the issue still persisting on your environment? Have you tried to create a cluster with the new releases of Payara Server? If the problem still persists let us know.

[2016-12-02 16:53] fturizo commented on #858
Greetings @jbndbc, we're sorry it took a while for us to get back to you on this issue. From my understanding you need that Payara Server parses and filter system properties in the standard and proprietary _deployment descriptors_, correct? Are you still in need for this feature? If so please let us know to propose an enhancement request.

[2016-12-02 21:29] Mephysto666 commented on #781
Ho Fabio,
I have not tried anymore to create a cluster by this way and actually I
don't need a cluster for my environment. So, I'm sorry but I can't execute
any test at the moment. Probably, in the future I will do them.

I can't answer your question.

Many thanks.

Meph

On 2 Dec 2016 5:48 p.m., "Fabio Turizo" <notifications@github.com> wrote:

[2016-12-02 22:21] OndrejM commented on #553
@quipsy-karg, is this issue still relevant? Since what you propose can be achieved using a custom QPID JCA adapter, is there anything that needs to be changed in Payara Server to support it?

The QPID JCA adapter supports GlassFish 3 (https://qpid.apache.org/components/qpid-jca/index.html), hopefully the same thing applies to Payara Server. If there is a problem, let us know, but best option would

[2016-12-02 22:26] OndrejM commented on #642
@andreasernst, do you still have the same problem with Virtual Server and Contet Root in a more recent version of Payara Server?
If yes, would you please provide your domain.xml and ideally the application you are deploying?

[2016-12-02 22:31] OndrejM commented on #853
Is there anything more to do with this issue after the PR #930? What about the activator?

[2016-12-02 22:35] OndrejM commented on #1015
@ggam, could you give us a pointer in the code where to verify that JACC provider can be created? Or even better, would you be able to submit a pull request?

[2016-12-03 00:25] fturizo commented on #226
Greetings @jskillin-idt, we're sorry that we are coming back to you after this while. Is this issue still persisting with the newer releases of Payara Server? If so, could you attach the _glassfish-web.xml_ file to see if we can reproduce it?

[2016-12-03 00:29] fturizo commented on #674
@mikecroft , any progress on this issue?

[2016-12-03 00:30] fturizo commented on #759
@OndrejM, any progress on this issue?

[2016-12-03 00:32] fturizo commented on #870
@OndrejM, any progress on this issue? Should we create the enhancement request on JIRA

[2016-12-03 00:35] fturizo commented on #946
Hello @dorpsidioot, did @smillidge's workaround help you with this issue? Also, have you tried with the new releases and see if it's still present?

[2016-12-03 00:47] fturizo commented on #1035
Greetings @Quix0r, is this issue still persisting? If so, could you upload a code sample to reproduce this issue? Judging by the error this could be caused by a mishandling of EJB's business interfaces. If you could link to a github sample project, that'd be helpful.

[2016-12-03 01:03] fturizo commented on #531
Greetings @neftalyluis, as @smillidge pointed out, the Medium security level was removed on JDK 8 onwards. This means that when the client VM is trying to execute the application client through JNLP, the JVM security manager will block the execution unless the application's JAR file is signed with a valid SSL cert that can be verified by an external CA (self-signed certs are not good enough). If p

[2016-12-03 01:12] fturizo commented on #781
Not a problem, I'll close this issue then. If the problem reappears feel free to reopen it so we can resume the discussion.

[2016-12-03 01:12] #781 closed

[2016-12-04 12:35] omidshapouri commented on #1208
@fturizo, sorry for delay in getting back to you.
Both files, _web.xml_ and _faces-config.xml_, are attached, please find them. I do not attach any JSF page As the error happens sometimes regardless of which page is being requested.

[web-faces-config.zip](https://github.com/payara/Payara/files/629462/web-faces-config.zip)

[2016-12-04 17:16] neftalyluis commented on #531
Yes, I've tried with version 7 and it does execute the application,

As you pointed out, we needeed to use a cert verified.

You can close this issue, thank you all for your time guys (:

[2016-12-05 06:25] jbndbc commented on #858
Yes, from our point of view this would still be a very useful feature to have.

[2016-12-05 07:13] quipsy-karg commented on #553
As I said in the original comment, this is just an enhancement request for the Payara bundle. So yes, this idea still is open for future improvement of the product. The essence of this issue is not that somebody should be able to add AMQP to Payara explicitly, but about replacing OpenMQ by QPID _by default_.

[2016-12-05 07:18] rds76 commented on #1133
we turned logging of javax.face to severe to avoid flooding, but assume warning is still there. Which part of config are you interested as it is part of big application unpossible to share

[2016-12-05 09:35] dorpsidioot commented on #946
@fturizo Yeah the workaround is working. I haven't gotten around to testing if it's still present in the current version, because of high workload (end of fiscal year) we've not gotten around to upgrading our ACC cluster to 164. Will keep you guys posted when we do so.

[2016-12-05 09:38] dorpsidioot commented on #1112
@pdudits We used locks and a persistent table to coordinate tasks that can only run once on a cluster. Each member fires the timer, but only the first one to get the lock executes the task and tracks it in the database. This provides us with fast-fail when one of the members goes down and avoids having to add custom pojo lib's to the payara's because of hazelcast classloader issues. It's not the m

[2016-12-05 09:39] itservices-trust commented on #1154
I can confirm that I still see a list of
`Severe:   Unknow type constant pool 15 at position xxx`
where xxx is a three digit number during deployment or reload, but this did not produce any stop at the deployment procedure

So it's working, I don't know why I still see a list of "Unknown type"

[2016-12-05 09:52] mikecroft commented on #1154
That's very unusual. The message is coming from a `switch` in [ConstantPoolInfo.java](https://github.com/payara/Payara/blob/32f9e683cf01ed0b96de79648dafefa0a6087aa2/appserver/deployment/dol/src/main/java/com/sun/enterprise/deployment/annotation/introspection/ConstantPoolInfo.java#L133) and saying that it cannot handle type `15`, even though the fix was to add a handler for `public static final int

[2016-12-05 09:52] #1154 closed

[2016-12-05 10:15] mikecroft commented on #765
Internal issue ID `PAYARA-735`

[2016-12-05 10:20] itservices-trust opened #1219 "Granted policy not correctly generated on 164"
After deploy an application with "default principal to role mapping" enabled, the granted.policy file under generated/policy did not show the grants for the secured part
As result, I can access the application (I can see the "login successful" log) but I'll be routed to an error page (in log I can see isGranted=false)
----------

No error are shown in logs (I don't know which logs I can set to a f

[2016-12-05 10:30] mikecroft commented on #443
`PAYARA-455`

[2016-12-05 10:31] itservices-trust commented on #1219
I've tried to add in glassfish-web.xml

  <security-role-mapping>
    <role-name>DMLM_USER</role-name>
    <group-name>DMLM_USER</group-name>
  </security-role-mapping>

and now the policy file is generated correctly
In version 163 it was unnecessarily

[2016-12-05 10:35] smillidge commented on #1219
This is a known bug and will be fixed in 171 for opensource 164.1 for customers. See #1213

[2016-12-05 10:36] #1219 closed

[2016-12-05 10:36] mikecroft commented on #1118
Should be fixed from 164

[2016-12-05 10:36] #1118 closed

[2016-12-05 10:37] smillidge commented on #1219
Duplicate of #1213

[2016-12-05 10:48] itservices-trust commented on #1219
thanks

[2016-12-05 10:55] itservices-trust commented on #1154
I've found why is still writing the log: miss the break for the case METHOD_HANDLE, so every time is called it will fall also into the default case

[2016-12-05 11:07] mikecroft commented on #1154
Good spot...I created a PR for that here:
https://github.com/payara/Payara/pull/1220/files

[2016-12-05 16:40] fturizo commented on #531
No problem @neftalyluis, many thanks for the quick reply. I'll close the issue then.

[2016-12-05 16:40] #531 closed

[2016-12-05 17:03] fturizo commented on #1133
@rds76, I think that with these files we can get a good grasp of a reproducible scenario:

* _faces-config.xml_
* _web.xml_
* _glassfish-web.xml_
* _domain-xml_

If possible, since these are big applications, try to post some sample **JSF** pages and their backing beans if you think they might help reproduce the issue as well.

[2016-12-05 17:10] fturizo commented on #946
Thanks for the quick reply @dorpsidioot, let us know how it goes.

[2016-12-05 20:50] fturizo commented on #858
Thanks for the quick reply @jbndbc. I've created an enhancement request so our developers can look it up. We'll get back to you once we have more information. The internal ID of this request is **PAYARA-1255**

[2016-12-05 22:13] fturizo commented on #1208
I tried reproducing this bug with a sample app using this configuration and setting the `parameter-encoding` value to _UTF-8_ as well but couldn't reproduce it.

I noticed some things while browsing the _web.xml_ configuration. It seems you are configuring a couple of **MyFaces** context parameters. Are you using **MyFaces** instead of **Mojarra** as the JSF implementation? Also, what version of *

[2016-12-05 23:36] OndrejM commented on #553
You can already replace OpenMQ by any custom JCA resource - it is only a matter of disabling OpenMQ in Payara and then you can deploy and configurre any JCA resource you like. There is a blog post on how to disable OpenMQ in Payara Server: http://blog.payara.fish/disabling-openmq-in-payara-server

[2016-12-05 23:42] OndrejM commented on #553
But if you really mean to replace OpenMQ by QPID in a standard Payara installation, it is rather a strategic decision. In that case we will acknowledge the suggestion, but the decision will not be easy to do, as it would break current stock behavior. It requires that we have a working QPID JCA adapter first. Would you be willing to test the adapter with Payara Server and help us make it working if

[2016-12-06 08:34] quipsy-karg commented on #553
My proposal is about finding a strategic decision in the next months or years to make the Payara open source project really fit for the cloud age by default.

The reason is that in the cloud age, two protocols are typically used for inter-microservice-communications: REST/HTTP and AMQP. As a JAX-RS expert group member and former Jersey contributor I know that Payara is perfectly fit for REST/HTTP

[2016-12-06 08:38] Quix0r commented on #1035
Sorry, a lot in the pipeline. :-( Plus I have a small family and I'm employed.

[2016-12-06 11:13] omidshapouri commented on #1208
@fturizo I am using Mojarra, sorry I forgot to comment out MyFaces context parameters.
I am using latest version of Richfaces (4.5.17.Final)
We are trying to reproduce the error without success as well

[2016-12-06 14:10] OndrejM commented on #553
Your reasoning certainly makes sense and we'll investigate what we can do and how much effort wuuld be needed. It would be really helpful if you manage to set up Payara with QPID adapter and give us a guide how to do it or an example working project (ideally based on docker compose or vagrant or whatever you choose, to demonstrate all the required configuration).

Once we know how to integrate Pay

[2016-12-06 15:14] OndrejM commented on #870
@fturizo I think no progress has been made. We may create a JIRA for the developers.

[2016-12-06 15:32] fturizo commented on #1035
I understand. Since this is issue is related to EJB's remote handling, let's try a small reproducible scenario first. If possible try to upload the following files:

* EJB's class and remote interface file
* Client code that calls the remote EJB using _JNDI_ lookup.
* _ejb-jar.xml_ and _glassfish-ejb-jar_, if applicable
* _web.xml_ and _glassfish-web.xml_

With these I think we can detect and repr

[2016-12-06 15:44] quipsy-karg commented on #553
Sounds good. I will l look into this later in 2017, as I am booked out with other stuff in the next months. Just keep this ticket open meanwhile. :-)

[2016-12-07 01:08] fturizo commented on #1141
Greetings @rds76, I reproduced this bug with the latest release of Payara. Even after reducing the timeout to 2 seconds from 30 seconds, the counters remained at 0. I've brought this issue to the developer team so they can check if these monitoring statistics are working correctly.  I'll update you back when I have information on the progress of this bug

The internal ID of this issue is PAYARA-12

[2016-12-07 01:16] fturizo commented on #1137
@jerrinot, considering that this feature is up to consideration for _JCache v2.0_, it might be a good idea to wait until a consensus is reached on how to handle blocking caches using annotations. Have you considered using a programmatic approach to solve you issue, using Java's concurrency utilities?

[2016-12-07 10:31] mikecroft commented on #530
Hi @gulbinas is this still an issue for you? If you haven't already tried, we have improved classloading in Payara Server, so you could package your JAR with the application
https://payara.gitbooks.io/payara-server/content/documentation/extended-documentation/classloading.html#4-solutions-to-the-class-loading-issue

[2016-12-07 11:18] OndrejM commented on #553
Thanks, @quipsy-karg.
ActiveMQ also implements AMQP and we know that it works well with Payara Server. We'll also have to find out if there are no license conflicts in using either QPID or ActiveMQ, since both are Apache projects licensed under Apache v2.

[2016-12-07 11:21] OndrejM commented on #759
No progress, still to reproduce and confirm if it's a bug.

[2016-12-07 11:44] ivannov commented on #759
@OndrejM as it was reported as a result of the Bulgarian JUG hackathon on JCache, here is a sample project:
https://github.com/bgjug/jcache-workshop

You can find there an application where it is reproduced and under the docs directory are the (pretty lengthy) instructions to get there

[2016-12-07 12:09] jerrinot commented on #759
This will be indeed tricky to solve.

Hazelcast is part of Pyara and it is not loaded by the same classloader as a webapp. When you do `map.get()` then I believe Payara set TCCL to the application classloader -> Hazelcast finds your application class when deserializing the result -> everything appears to work.

However when you invoke an entry processor then the receiving Hazelcast member is not d

[2016-12-07 12:30] smillidge commented on #759
It's possible we could write a classloader that could reach into the different deployed applications to look for classes and add that to Hazelcast. We did an experiment by creating one and bootstrapping Hazelcast with that classloader as its TCCL however that caused service loading issues in Hazelcast. We haven't tried the Config class. Another alternative we've been told may work is a custom Haze

[2016-12-07 13:03] bozic commented on #1165
The issue occurs only when RAR module is deployed on clustery, and not on DAS. When RAR module is deployed on cluster and on DAS, everything works as expected.
This "old" behavior works on Glassfish 3, so in process of migration we notice that this isn't working as before. If this is changed by purpose, then I stand corrected, but then it should be better documented maybe?

[2016-12-07 13:46] ezequielgaggioli opened #1223 "GMS Errors Suddenly"
# GMS Errors Suddenly #
----------

## Current Outcome

We have worked for some time with payara. We have noticed that after a while, after several deploy, payara fails unexpectedly.
We have a cluster with 3 instances on the same server.
**Instance 1 shows me the following error over and over again:**

[code]
**Instance 2 shows me the following error :**

[code]

**Instance 3 shows me the followin

[2016-12-07 22:59] fturizo commented on #1165
Hello @bozic, in this case the encountered error is expected since the **DAS**' classloader expects to reach the appropriate classes of the resource adapter (`activemq-rar-5.14.1.rar`) and since the adapter was not deployed on the **DAS**, they are unreachable to the resource adapter configuration.  Keep in mind that the Oracle Glassfish 3 used Project Shoal to configure clustering while in your s

[2016-12-07 23:12] fturizo commented on #1203
@smillidge, is this issue related to the same classloading issue reported on issue #759? Should we move this issue to JIRA to track the progress done on it?

@stePrime, did @smillidge suggested workaround of using a common library with the listener classes on the lib directory solve the issue?

[2016-12-08 07:32] pdudits commented on #553
@OndrejM, on the other hand ActiveMQ doesn't implement JMS 2, so one needs to look in direction of Apache Artemis to get full Java EE 7 compliance.

Disclaimer: I use ActiveMQ, and I didn't try to use `JMSContext` with activemq-rar yet.

[2016-12-08 08:06] jerrinot commented on #1137
Hi @fturizo, thanks for your reply.

Programmatic approach is certainly an option, however it forces a developer to deal with concurrency - and that's something developers are notoriously bad at. I thought Payara could provide a nice & easy-to-use abstraction here.

My idea is to use Payara as sort of "playing ground" and explore various ways how to integrate JCache into the Java EE world, find in

[2016-12-08 13:23] OndrejM commented on #553
I don't know much about QPID, but it seems that there's only [support for JMS 1.1](https://qpid.apache.org/components/jms/index.html) too.

[2016-12-09 15:32] jerrinot commented on #759
Of course, I would never write something like [this](https://github.com/jerrinot/Payara/commit/47e7e3fca095e0ba91a479b1f5c7d1a04f958d4c)

(I double-checked the commit is not signed so I can still maintain plausible deniability :-D)

![image](https://cloud.githubusercontent.com/assets/158619/21054230/6933d444-be35-11e6-889d-b1e720a1dddd.png)

[2016-12-09 19:47] matthiasblaesing commented on #1186
@rlubke the GUI does not offer a seperate decompression setting and the compression settings are not applied. If I'm not mistaken:

- GenericGrizzlyListener is the attachement point between glassfish and grizzly
- GenericGrizzlyListener passes the configure CompressionLevel  to CompressionEncodingFilter
- CompressionEncodingFilter evaluates CompressionLevel in combination with the send Accepts hea

[2016-12-10 14:32] smillidge commented on #759
did it work though?

[2016-12-10 17:50] jerrinot commented on #759
It did work. I deployed the demo application @ivannov linked packaged with a simple entry processor.

Then I started a standalone application with a Hazelcast client and invoked the entry processor from the client. The EP (packaged inside my WAR) was executed on a Payara member.

[2016-12-10 18:02] lprimak commented on #759
Has anyone tried to put hazelcast into applibs classloader?  That may be a good workaround until something is devised by Payara.  I have some ideas on automating this.

[2016-12-11 16:43] yumix opened #1225 "Admin Console LogView cannot view logs if formatted by JSON"
# Description #
----------

I found that Admin Console Log Viewer show nothing logs formatted by JSON.
I checked other format, _e.g._ ULF, ODL is work well.

## Expected Outcome

I think that Log Viewer should accept all log format supported by Payara Server. e.g. ULF, ODL, JSON.

## Current Outcome

Log Viewer shows any logs that format are supported by Payara Server. Certainly, Log Viewer works

[2016-12-11 17:50] teefal opened #1226 "localhost (127.0.0.1) used for remote EJB references"
This long-standing bug has new relevance due to host/IP configuration issues with Amazon's EC2.

## Expected Outcome

I want to connect to a Payara 164 Full server on LINUX using a remote EJB connection from a standalone client.  Doing a standard lookup should return the stub for remote use, as in:

InitialContext aCtx = new InitialContext();
EjbStub aRetVal = aCtx.lookup( "java:global/appName/Bea

[2016-12-11 21:41] lprimak commented on #1226
Have you tried to set ```org.omg.CORBA.ORBInitialHost``` to your desired hostname?

[2016-12-12 08:20] khasunuma commented on #1225
I can reproduce it. But I'm afraid that LogViewer cannot show JSON-formatted logs without more improvement. (I think it's not a bug.)

com.sun.enterprise.server.logging.GFFileHandler.formatter in logging.properties is accepted UniformLogFormatter, ODLLogFormatter or custom formatters. GFFileHandler assumes JSONLogFormatter as a custom formatter and LogViewer cannot show any custom formatters.

If

[2016-12-12 08:44] mikecroft commented on #1225
Thanks, @khasunuma, you're right, this is an enhancement request. I've created internal issue `PAYARA-1270` for the enhancement.

[2016-12-12 09:09] bozic commented on #1165
For this specific issue a paragraph in blog post about connecting to ActiveMQ would be sufficient, but we also encountered the change in JDBC properties configuration that is also changed and it isn't documented anywhere...

So maybe, some sort of "change list" in official documentation where all those changed behaviors from Glassfish would be listed? That would make it a little more user friendly

[2016-12-12 10:37] stePrime commented on #1203
I have done several tests and I can confirm that create a library has solved the problem.
Now, I close the issue. Thank you for the support.

[2016-12-12 10:37] #1203 closed

[2016-12-12 10:39] stePrime commented on #1198
After several tests, Hazelcast Topic seems work fine. I close the issue.
Thank you for the support.

[2016-12-12 10:39] #1198 closed

[2016-12-12 14:09] teefal commented on #1226
lprimak, yes, that's how the EJB connection is made.  It's actually returned data from the initial connection, hence my results from Wireshark.

[2016-12-12 15:50] fturizo commented on #1226
@teefal, regarding the Payara starting issue on Linux, for the server to start on an EC2 instance, you must set the _INTERNAL_ IP address of the instance instead of the _EXTERNAL_ one on the _/etc/hosts_ file. The hanging out of the remote **EJB**  is a known bug on the **CORBA** modules inherited from Glassfish 4.x. Our developers are aware of this bug and are working on it.

Keep in mind that th

[2016-12-12 15:51] fturizo commented on #1226
The behavior of this bug is the same exhibited described on the JIRA issue **PAYARA-798**

[2016-12-12 16:31] teefal commented on #1226
fturizo, are you saying that remote EJB on EC2 is impossible at this point?

IE, if I need an INTERNAL IP for payara to start, and remote EJB will then report that internal IP when connections are made ... I'm I out of luck?

[2016-12-12 16:56] lprimak commented on #1226
@teefal as a workaround, please set ```org.omg.CORBA.ORBInitialHost``` on the _server_ to the internal AWS IP address.  This may help.

[2016-12-12 17:28] stePrime opened #1227 "Session Object replication with session.setAttribute"
# Description #
----------

Hi Team,

I have a Cluster as Standalone Instances with Hazelcast, I added a Session Replication and a Load Balancer with HAProxy. Everything works fine.

When I use a Session Bean all global variables are replicated to the nodes of the cluster but when I try to share an object in a no-SessionBean a few times it doesn't work.
This below is my simple example:

I have a s

[2016-12-12 17:31] teefal commented on #1226
lprimak, I tried org.omg.CORBA.ORBInitialHost on the server, with both the private AWS IP and the public one.  I even tried the official domain name, which resolves to different IPs privately and publicly.

In each case, Wireshark told me that the initial lookup had a IIOP:Profile_host of the private server IP, so none of the changes had an effect.

Put simply, Payara tells my client to use `hostn

[2016-12-12 17:41] teefal commented on #1226
@fturizo by "you must set the INTERNAL IP address of the instance instead of the EXTERNAL one on the /etc/hosts file" do you mean that you could do something like this ...

<node name="localhost-storymill" install-dir="${com.sun.aas.productRoot}" type="CONFIG" node-host="1.2.3.4"></node>

where 1.2.3.4 is the AWS internal IP. And then do this in /etc/hosts...

4.3.2.1  myhostname

where 4.3.2.1 is

[2016-12-12 17:48] lprimak commented on #1226
Ok, I think I get it now, @fturizo is exactly right about the issue, it's something that we are aware of and working on

[2016-12-12 17:49] OndrejM commented on #1227
Have you tried debugging if you always go in the block in `if(session != null){` - that means, do you always have session? It seems that out of 4 clicks, only 2 times you have session and 2 times the session is null.

How is your custom scope working? When does it start and when does it end?

[2016-12-12 17:52] rlubke commented on #1186
I'm somewhat uncomfortable modifying the request.  I think we should correct the regression.

[2016-12-12 17:55] matthiasblaesing commented on #1186
@rlubke what do you suggest? My understanding of your words is: The server won't decompress a request. Why is it ok to modify the header on send, but not on receive?

[2016-12-12 18:00] rlubke commented on #1186
No.  I think Using CompressionConfig to control the behavior is probably the way to go.  It will be disabled by default which would return existing apps that relied on Jersey to handle this to work as they did before.

Regarding the header modification.  I think it's a different case with the response.  We're adding headers to support compression.  What makes me nervous is modifying an inbound req

[2016-12-12 18:22] matthiasblaesing commented on #1186
Sorry to say it so open: For me your suggestion is useless and even makes the situation worse for me.

Worse in this sense: If you couple decompression to "CompressionConfig" I will have to deactivate compression altogether, as we have decompression ServletFilters deployed. So either the ServletFilter based applications are broken or performance suffers because decompression is removed from all ot

[2016-12-12 19:55] fturizo commented on #1226
@teefal, yes for the moment communicating to a remote EJB deployed on EC2 instances is not possible due to their multi-homed network arrangement. As you noticed when sniffing the packets with _Wireshark_, the **IIOP:Profile_host** property in the _GIOP_ packets is set incorrectly. This is the CORBA bug I was referencing earlier.

We'll let you know when we have a solution available for our quarter

[2016-12-12 19:58] fturizo commented on #1223
@ezequielgaggioli, I've been trying to reproduce this bug setting a simple local cluster with 3 instances and re-deploying a simple Web application but had no luck for the moment. Could you outline the steps you took to create and configure this bug in order to have a reproducible test case?

[2016-12-12 20:54] ezequielgaggioli commented on #1223
Hola Fabio, supongo que hablas español.

Como escribí mas arriba es un error que nos sucedió hace como 5 meses atras y se volvio a repetir hace unos días.
Ahora el servidor esta andando bien.
No tenemos manera de reproducirlo.

Lo que si te puedo comentar es lo siguiente:
Tenemos una copia de payara 4.1.1.161 (de ahora en mas p1) que descargamos hace tiempo atrás y que tiene seteadas las configura

[2016-12-12 22:38] maheshmarri opened #1229 "JVM classloader issue"
# Description #
----------

JVM classloader not displaying the classpath of the libraries

## Expected Outcome

I have enabled the JVM options to generate the classloader to pring the classpath libraries to log file. What it should have happened it to print he entire class libraries in jvm.log

## Current Outcome

Currently the jvm.log is displaying the below issue for printing the classpath of th

[2016-12-12 22:39] maheshmarri commented on #1229
Hello Team,

Can anyone help on the above issue.

Thanks
Mahesh

[2016-12-13 00:25] fturizo commented on #1229
Hi @maheshmarri, could you post what are the JVM options you set in the domain's configuration so we can reproduce this behavior? Also, for the current outcome it seems that you missed the current output for the log file.

[2016-12-13 00:33] fturizo commented on #1223
Gracias por responder @ezequielgaggioli. Los errores que reciben son errores específicos a **Shoal** (La librería utilizada para crear y administrar clusters en GlassFish y Payara), sin embargo no encontré documentación alguna de lo que representan o como lidiar con ellos.

Nuestra recomendación en la mayoría de los casos es utilizar **Hazelcast** para configurar clusters en lugar de **Shoal**, de

[2016-12-13 01:28] fturizo commented on #1208
@omidshapouri, I updated my test scenario with the Richfaces libraries, and used some Richfaces components but still no luck at reproducing this issue. If you can reproduce the issue succesfully again, please upload a code sample so we can identify the cause of this bug.

[2016-12-13 01:33] fturizo commented on #1165
@bozic, can you reference which was change to the JDBC property configuration?

[2016-12-13 03:00] maheshmarri commented on #1229
The beloa are the JVM Options.:
-XX:LogFile=${com.sun.aas.instanceRoot}/logs/jvm.log
-XX:+LogVMOutput

[2016-12-13 03:38] maheshmarri opened #1231 "Using hibernate Validator 4.2 in Payara 4.1.1.163"
# Description #
----------

Using hibernate Validator 4.2 in Payara 4.1.1.163

## Expected Outcome

Product uses hibernate validator 4.2.0 and it seems payara comes with 5.1.2 .How do we override the default one from 5.1.2 to 4.2.0.

## Current Outcome

Right now it the product fails with validation issues because of the conflicts from payara and product uses hibernate validator 4.2.0.

Can you pl

[2016-12-13 11:08] bozic commented on #1165
@fturizo ```IfxDELIMIDENT``` for Informix JDBC connetction pool. In Glassfish 3 value for true was ```y```, but on Payara value for true is ```true```. There is no log message indicating that this is changed or that value is invalid.

Since JDCB driver is the same version (3.7) on both installations (Payara and Glassfish 3) we checked Payaras source code to see how to set this parameter. Tbh, we d

[2016-12-13 15:33] mikecroft commented on #1207
Hi @AlphaJuliettOmega have you found that this is reliably reproducible?

[2016-12-13 16:36] fturizo commented on #1231
@maheshmarri, you can set the `classloading-delegate` option at **WAR** or **EAR** assemblies using the appropriate deployment descriptors to let the server use the libraries bundled in the application instead of the ones in the server. Check the official documentation on [classloading](https://payara.gitbooks.io/payara-server/content/documentation/extended-documentation/classloading.html) for mor

[2016-12-13 20:12] OndrejM commented on #1227
Can you attach your simple application so that I may try to reproduce the problem?

[2016-12-13 20:20] OndrejM commented on #1227
Have you added the `<distributable/>` element into the `web.xml`? Like here: [JBoss Clustering Guide] (https://docs.jboss.org/jbossas/docs/Clustering_Guide/beta422/html/clustering-http-app.html)

You also need to configure Web Container availability with Hazelcast. See this blog post about [Payara clustering with Hazelcast](http://blog.payara.fish/creating-a-simple-cluster-with-payara-server)

[2016-12-13 21:16] lprimak commented on #1227
Have you, by any chance deploying the app itself without availability enabled?
i.e. you need to use
`asadmin deploy --availabilityenabled`

Also, make sure you have this:

[code]

as described here:
http://blog.payara.fish/payara-server-rolling-upgrades

[2016-12-13 21:16] maheshmarri commented on #1231
Thanks for the response @fturizo ,we do have the classloading-delegate option at WAR in the deployment descriptior,it seems some how it still uses hibernate-validator and fails with validation issues.

One of the reason for us to go with older version of the hibernate-validator ,supporting multiple application servers -websphere and wildfly

[2016-12-13 21:37] lprimak commented on #1014
@ggam I tested current Payara with empty beans.xml, and it does indeed work as designed.  Empty beans.xml needs to be truly empty, not even a whitespace.

[2016-12-13 21:38] lprimak commented on #1014
@ggam, is this still an issue for you?  If yes, please elaborate, if not, please close the ticket
thanks!

[2016-12-13 21:45] lprimak commented on #1231
can you paste your glassfish-web.xml please?

[2016-12-13 23:29] lprimak commented on #242
You can use
[code]

to get the configure persistence type

[2016-12-14 03:34] maheshmarri commented on #1231
<!DOCTYPE glassfish-web-app PUBLIC "-//GlassFish.org//DTD
GlassFish Application Server 3.1 Servlet 3.0//EN"
"http://glassfish.org/dtds/glassfish-web-app_3_0-1.dtd">
<glassfish-web-app>
    <context-root>/</context-root>
    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>
    <resource-ref>
	    <res-ref-name>jdbc/xXXXX</res-ref-name>
	    <res-type>javax.sql.Data

[2016-12-14 09:02] mikecroft commented on #1070
Sorry it took a while to get back to this, but I've created internal issue `PAYARA-1277` for it.

I found different behaviour when I unplugged my ethernet cable compared to when I had disabled my network interface. If I disabled the network interface, it failed to deploy but a restart would deploy properly. This wasn't the case if my network cable was unplugged.

[2016-12-14 09:10] mikecroft commented on #1197
Can you give an update on what you're trying to do here? What do you mean by external resources, specifically?

[2016-12-14 10:08] stePrime commented on #1227
I have same problem with Application,Session or Request Scope (I use CDI).

web.xml:

`

    <?xml version="1.0" encoding="UTF-8"?>
    <web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        <distributable/>
        <co

[2016-12-14 12:17] smillidge commented on #1213
Fixed by #1218

[2016-12-14 12:17] #1213 closed

[2016-12-14 13:16] teefal commented on #1226
@fturizo Is it possible to force the Payara to use an IP, in a manner similar to java.rmi.server.hostname or some other setting?

[2016-12-14 13:23] stePrime commented on #1227
The problem occurs also if I don't use setAttribute but with a List as global variable in a Session Bean.

I replaced "TestBean" with this "SessionBean" ,but the problem is the same:

`

    @Named
    @SessionScoped
    public class SessionBean implements Serializable {

        private CopyOnWriteArrayList<String> lista;

        @PostConstruct
        public void init() {
            System.out

[2016-12-14 13:28] OndrejM commented on #1227
I'll try to reproduce with the your app. Meantime, can you check how your requests are routed from the load balancer? I suspect that the session replication does not work and that each application has access only to the data it created. Can you check which nodes received which requests? If you connect directly to each node, can you see all expected strings on one or the other node?

[2016-12-14 13:59] stePrime commented on #1227
I tried to connect to each node and it seems to work (only string is replicated on all nodes). It can be a problem with a Load Balancer. Now, I try to check a requests from a Load Balancer.
 Do you use HAProxy?

[2016-12-14 14:13] ezequielgaggioli commented on #1223
Gracias @fturizo. Vamos a cambiar  la version 4.1.1.164 y vamos a usar Hazelcast.
Cualquier novedad te escribo.

Muchas gracias.